<img alt="Img_home1" src="/assets/about_baner.jpg">

<div style="text-align: justify;">
	<h3>Introduction</h3>
	<p>
		A clear glowing complexion with a radiant, healthy skin is what we all aspire for, but more often than not there are road blocks. Besides aging, stress, hormonal changes, there are several impediments under the sun that take a toll on your personal tapestry – the skin.

		You are eager to have a facelift. Pause. Take time to decide where and how can you get the face you want? Today cosmetic surgeries and procedures are performed down the alley, at the mall, spa and any consumer oriented outlet. Worse still, these have evolved beyond the scrutiny of medical professionals/ personnels.
	</p>
	<p>
		The solution lies in medical treatment designed to rejuvenate the skin under the care of a dermatologist and cosmetologist but not the beauty gurus. The Clinic's knowledgeable and experienced staff includes internationally renowned and Certified Dermatologists and exceptional nursing and support staff. The clinic specializes in Cosmetic Dermatology, Dermatologic Surgery, and Medical Dermatology. The latest state of the art laser technology is used to treat the adverse effects of aging, skin diseases, and skin conditions. International standards are followed for hygiene and storage of medicines.
	</p>
	<p>
		At Dermasurge we strive to provide the highest level of medically proved cosmetological skin therapies. We take pride in our state of art clinic, equipped with the latest technologies in skin care. All this under a team of experienced medical experts who are well known for their expertise.

		Our dermatology staff will take the time to discuss and educate a skin care program most suited to your individual needs. Your skin problems can be conveniently addressed through Any of our centres in India and Dubai.
	</p>
</div>