<div class="hero-unit">

	<div class="insetBgd">
		<h1 class="insetType inset_top">Your skin is a portrait</h1>
		<h1 class="insetType inset_bottom">of your internal health</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Acne Treatment</h4>
		Call it by any name, blemishes, bumps, whiteheads, blackheads, goobers, papules, pimples, spots, acne is world's most common skin disorder. It usually overtakes the face during the teenage years but other parts of the body can be affected and it can appear beyond the teenage tag. Even children can develop acne !

		Face can be compromised with just a few spots and in severe cases result in scarring as well.

		Acne can be termed as an indication that your body is undergoing changes due to puberty. What causes acne?

	</div>
	<br />
	<div class="row" align="center">
		<span class="span4"> <img alt="acne1" src="/assets/acne_1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/acne_2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/acne_3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<div>
		<h3>What causes acne?</h3>

		<p>
			As you proceed to puberty, your hormones are commanding your oil glands (sebaceous) to produce too much oil (sebum) but your body
			is not able to handle this efficiently. Hair follicle simply swells up with sebum and tears off. This sparks inflammation in the
			surrounding skin.
		</p>

		<p>
			Acne occurs when excess sebum combines with dead skin cells shed from the epidermis ( top skin). This combination of oil and dead skin
			cells leads to a chemical reaction which produces skin bacteria that turns black in colour – hence the name 'blackhead'. These bacteria
			produce irritating substances that can cause inflammation and other variants of acne .
		</p>

		<p>
			Since hormones fluctuate in the years leading up to menopause, many women in their 40s and 50s get acne.
		</p>

		<p>
			Hereditary too is responsible for acne promotion.
		</p>
		<!--pic_para -->
	</div>

	<h3>Acne treatment</h3>
	<p>
		Usually, over a period of time( may mean several years), acne may disappear on their own but without treatment  leave nodules and
		scars formation on your face.  Thus, with Treatment you  treat your hormonal imbalance, acne per se and its sequeluae.
	</p>

	<p>
		Irrespective of the treatment you prefer, the objective is to control the symptoms of acne, stop it from worsening and prevent new ones
		from erupting. Acne treatment is all about reduction of sebum production, control of the abnormal shedding of skin cells, ease the
		inflammation and reduce the bacteria growth.
	</p>

	<p>
		<strong>Treatments include - </strong>
	</p>
	<p>
		Gently washing the affected area(s) with warm water and a mild cleanser twice a day to remove dead skin cells and excess oil.
	</p>
	<p>
		Over-the-counter medications – Demands caution and knowledge in product selection.
	</p>
	<p>
		Diet and self help is ideal for light to moderate acne.
	</p>
	<p>
		Prescription medicines –oral & topical antibiotics ,topical retinoids, oral contraceptives
	</p>

	<p>
		<strong>Physical Procedures for Treating Acne</strong> Dermatologists occasionally use procedures to help clear acne. These methods,
		which are described below, should be performed by a dermatologist or other health care practitioner.
	</p>

	<h4>Chemical Peels</h4>
	<p>
		Light chemical peels of glycolic acid and other chemical agents are used by dermatologists to loosen blackheads and decrease acne
		papules.
	</p>

	<h4>Comedo Extraction</h4>
	<p>
		Sometimes removing comedones proves beneficial. To extract whiteheads and blackheads, dermatologists use a
		sterile pen-sized device.
	</p>

	<h4>Phototherapy (Laser and Light Treatments)</h4>
	<p>
		Several laser and light treatments are available to treat acne. Some of these laser and light treatments target the factor that causes acne—P. acnes. The use of light, specifically ultra violet light frequency, has emerged as the best line of treatment for acne sufferers. It penetrates the skin subcutaneously to eliminate the bacteria build up which clogs the pores and causes acne  For many patients, this is not a comprehensive treatment for resolving their acne. A dermatologist can determine if laser or light treatment is appropriate for a patient.
	</p>

	<p>
		Advantages to laser and light treatments include not having to remember to apply or take any medication and the ability to treat hard-to-reach areas, such as the back.
	</p>

	<strong>Laser resurfacing  with ultra pulse  fractional co2 </strong>is usually performed on acne scars that develop due to squeezing of the pimples or side effects of severe acne. The laser beam is used to remove the epidermis that may be riddled with acne scars.

	<p>
		Surgery – in extreme cases, the dermatologist may recommend so.
	</p>
	<p>
		The type of treatment will depend upon the nature and extent of your acne. Many acne sufferers prefer laser treatment and light therapy which are deemed to be the most effective ways of treating acne.
	</p>

	<h3>Acne Myths</h3>
	<ul>
		<li>
			Acne is caused by diet.Avoid junk food. Studies have established that oil in the stomach plays no role. Chocolates, French fries and greasy food don't cause acne or make it worse. There is no need to worry about food affecting acne but it is a good idea to limit such greasy foods.
		</li>

		<li>
			Acne is caused by poor hygiene. Washing, rubbing or scrubbing your skin too frequently can make your acne worse and damage your skin. Cleanliness is important but acne is all about formation on the inside of your skin.
		</li>

		<li>
			Acne will run its course, irrespective of treatment. Consult a dermatologist and seek advice, rather than play the destiny game.
		</li>
		<li>
			Acne is contagious. It is not an infectious condition or disease and in no way can it be passed from one to another
		</li>
		<li>
			Oily skin causes acne. Compared to dry skin, oily skin can be a more fertile place for acne but it is not responsible for acne itself. Oils responsible for acne are under your skin
		</li>
		<li>
			Squeezing pimples will get rid of acne. It can be just the opposite. It can lead to further out break and even scaring
		</li>
	</ul>
</div>

