<div class="hero-unit">

	<div class="insetBgd body_shaping_banner">
		<h1 class="insetType inset_top">Look Beautiful</h1>
		<h1 class="insetType inset_bottom">At Any Age</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Body Shaping</h4>
		<p>
			<strong>Injection Lipolysis</strong>
			This procedure is used to reduce fatty deposits in particular areas of the body.
		</p>
		<p>
			In this technique which was developed in 1995, a substance phosphatidylcholine ( PPT ) is directly injected into the undesired fat deposits. This melts the fat deposits, which is then eliminated by the body.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span4"> <img alt="acne1" src="/assets/body_shap1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/body_shap2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/body_shap3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">

	<p>
		Lipolysis is not a method of weight reduction and is not meant for people who are grossly obese. This technique is useful for
		effectively reducing fat deposits which are resistant to diet and exercise.
	</p>

	<p>
		Areas of the body in which this treatment may be used are double chin, fat on the thighs, belly and upper arms. This also achieves
		good results on cellulite.
	</p>

	<p>
		The number of treatments differs from person to person, depending upon body region and body size. On an average 4 to 6
		sessions at 6 to 8 weekly intervals may be required for completion of treatment. Lipolysis is meant for small areas of fat deposit, and
		liposuction would be a preferred method for larger areas.
	</p>

	<p>
		Most patients develop an inflammatory reaction with itching, burning, redness, swelling and muscular aches but this resolves with
		time and pain killers.
	</p>

	<p>
		Lipolysis as a cosmetic procedure has been used for over a decade and has proved to be safe and effective.
	</p>

	<div class="divider"></div>

	<h3>Liposuction & Body Contouring</h3>
	<p>
		Suction-assisted lipectomy- also known as liposuction, fat suction, or suction lipectomy is a technique to remove unwanted fat deposits
		from specific areas of the body, including chin, neck, cheeks, upper arms, breasts, abdomen, buttocks, hips, thighs, knees, calves and ankles.
		Liposuction is not a substitute for weight reduction, but a method of removing localized fat that doesn't respond to dieting and exercise.
	</p>

	<div id="body_contour_container1">
		<a class="btn btn-normal btn-primary" href='javascript:;'>FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>Am I a candidate for liposuction?</h4>
			<p>
				Liposuction can enhance your appearance and body image. The best candidates for liposuction are of relatively normal weight but have pockets
				of excess fat in particular areas. Large areas of body can be covered in single sitting. Most important, having firm, elastic skin will result
				in a better final contour. Women most often have liposuction performed on their hips, thighs and stomach. For men, the most popular sites are
				under the chin and around the waist.
			</p>
			<hr />

			<h4>Is liposuction safe?</h4>
			<p>
				Liposuction is normally safe Nevertheless, in rare instances, the procedure may cause severe trauma, particularly when multiple or very extensive areas are suctioned at one time. Infrequent, but possible, complications include fluid accumulation (which must be drained) and bruse to the skin. The scars from liposuction are small and invisible.
			</p>

			<hr />

			<h4>Planning your surgery?</h4>
			<p>
				In your initial consultation, we will evaluate your health, determine where your fat deposits lie, and carefully assess your skin tone.
				You will be explained of any alternative body-contouring methods that may be appropriate-such as abdominoplasty or tummy tuck- and discuss
				the options or the combination of procedure that would be best for you.
			</p>

			<hr />

			<h4>Preparing for your surgery?</h4>
			<p>
				If your procedure is not too extensive, liposuction can be performed under local anaesthesia, which numbs the area, combined with a
				sedative to make you drowsy. You'll be awake but relaxed. Some surgeons may instead use an epidural block,
				similar to the anaesthesia used in childbirth. If we plan to suction a large area, or to treat several sites, you'll probably have general
				anaesthesia. In that case, you'll sleep through the operation.
			</p>

			<hr />

			<h4>The surgery?</h4>
			<p>
				Suction-assisted lipectomy usually takes an hour or two, but the time required may vary considerably from thirty minutes to several hours,
				depending on the amount of work required on your body.
			</p>
			<p>
				To begin the procedure, we make a small incision, just large enough to allow the insertion of a hollow tube called a cannula. The opposite
				end of the cannula is attached to a machine that creates a strong vacuum. We manipulate the cannula deep within the fat layers under the skin,
				breaking up the fat and suctioning it out. Sometimes additional incisions are needed to remove all areas of fat.
			</p>

			<hr />

			<h4>After the surgery?</h4>
			<p>
				A snug elastic dressing, girdle, or body stocking must be worn over treated area to control swelling. You may need to wear this garment for
				four weeks. Don't expect to look or feel great right after surgery. The suctioned areas will be swollen and bruised, and you may feel a burning
				sensation. You may temporarily lose all feeling in the suctioned area; don't worry -it will return.
			</p>

			<hr />

			<h4>When will I get back to normal?</h4>
			<p>
				Healing is a gradual process-your surgeon will probably tell you to start walking around as soon as possible (to help prevent blood clots from
				forming in your legs), but avoid more strenuous activity for two to four weeks. The stitches will be removed in five to ten days or dissolve,
				and you should be back at work 2-3 days, or as much as a week after your surgery.
			</p>

			<p>
				While most of the swelling and discoloration will be gone a month, some swelling can remain up to three months.
			</p>

		</div>
	</div>
	<script>
		$('#body_contour_container1 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>

	<hr />

	<h3>Vaser Liposuction</h3>
	<p>
		Vaser or Vibration Amplification of Sound Energy at Resonance is the trade name for an ultrasound-assisted liposuction system. During Vaser
		liposuction procedure, fatty tissues are extracted from your body by using sound waves. These sound waves emulsify targeted fat cells. The sound
		energy gets transmitted through small probes. These sound waves enter the holes and vibrate rapidly to produce ultrasound energy. This energy
		that penetrates inside your body breaks the cellular membrane and discharges the lipid content. Vaser liposuction has the advantages of lower
		blood loss & improved skin retraction.
	</p>

	<hr />
	<h3>Abdominoplasty (Tummy Tuck)</h3>
	<p>
		A flat stomach or a "non protuberant abdomen" is important to a physically fit appearance. However, a healthy diet and regular abdominal
		workouts can sometimes do little to eliminate accumulations of excess fat and loose, sagging skin in the abdominal area. If you are bothered
		by these appearance problems, abdominoplasty (also called tummy tuck) may be a good choice for you.
	</p>

	<p>
		Abdominoplasty is designed to firm and smooth the abdomen. This procedure removes excess skin and fat from the abdomen and may also tighten
		the muscles of the abdominal wall. The result is a flatter, tighter abdominal profile.
	</p>

	<div id="body_contour_container2">
		<a class="btn btn-normal btn-primary" href='javascript:;'>FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>Is an abdominoplasty right for me?</h4>
			<p>
				Abdominoplasty is best suited to women and men who have loose abdominal skin and/or a significant amount of abdominal fat that won't
				respond to dieting or exercise.You may be a good candidate for abdominoplasty if you have one or more of the following conditions: Excess
				or loose, sagging abdominal skin, an abdomen that protrudes and is out of proportion to the rest of the body, abdominal muscles that have
				been weakened by pregnancy or aging and excess fat that is concentrated beneath the abdominal skin.
			</p>

			<p>
				If you plan to become pregnant or to lose a significant amount of weight, you should discuss this with us. Scars from previous abdominal
				surgeries may limit the results of an abdominoplasty. However, in some cases, an existing scar can be used for the new incision, as is
				often the case for women with Caesarean section scars.
			</p>
			<hr />

			<h4>How is abdominoplasty performed?</h4>
			<p>
				Generally, horizontal incisions are placed just within or above the pubic area. The length of the incision, which extends outward toward
				the hip bones, depends largely on the amount of skin to be removed. In other words, the looser the skin that needs to be removed, the longer
				the incision will be.
			</p>

			<p>
				For women, plastic surgeons keep the incision within swimsuit lines, when it is possible. Working through this incision, we may tighten the
				underlying muscles by pulling them together and stitching them in place. Any excess skin from the lower abdomen is trimmed away. Skin that
				contains stretch marks may be removed as well; however, it may not be possible to remove them all.
			</p>

			<p>
				In patients with larger amounts of loose skin, a second incision may be made around the navel. This way, the excess skin above the navel
				is separated from the deeper tissues so it can be pulled downward and removed.
			</p>

			<hr />

			<h4>Are there other options?</h4>
			<p>
				Traditional abdominoplasty isn't the best choice for everyone. We will advise you if either of these other options will work well with
				your anatomy and meet your surgical goals.
			</p>

			<p>
				The "mini" abdominoplasty- This procedure may benefit you if you are primarily dissatisfied with the appearance of the abdominal
				area below the navel. A mini abdominoplasty requires only a short horizontal incision and no navel incision. It's important to realize,
				however, that the mini abdominoplasty will not correct loose skin above the navel.
			</p>

			<p>
				Liposuction alone- If you have good skin elasticity and muscle tone, liposuction alone may be used to remove abdominal fat.
				This alternative may appeal to patients who are planning to become pregnant in the future.
			</p>

			<hr />

			<h4>How will I learn about the safety of abdominoplasty?</h4>

			<p>
				Each year, thousands of people undergo abdominoplasty and experience no major complications. However, abdominoplasty is an extensive procedure
				and it is essential for you to be informed of the risks as well as the benefits. Remember that by carefully following our advice and instructions-
				both before and after surgery you can do your part to minimize some of the risks. In addition to listening carefully to what we tell you, be
				sure to raise any questions or concerns that you may have about the safety of the procedure.
			</p>
			<hr />
			<h4>What can I do to prepare for my surgery?</h4>
			<p>
				When the date for your surgical procedure has been set, we will provide you with specific instructions for the days immediately before
				and after your surgery.
			</p>
			<hr />
			<h4>How will I look and feel right after surgery?</h4>
			<p>
				After the surgery you will be instructed you to sleep on your back with your knees up. You will be allowed to drink by the evening and can
				take breakfast next morning. You will be encouraged to get out of bed the day after surgery to promote blood circulation. In many cases, small
				drainage tubes will have been placed beneath the skin to help prevent fluids from accumulating. You will be wearing a tight corset.
			</p>

			<p>
				Although everyone heals at a different rate, you can expect that your recovery will follow this general time line:
			</p>

			<hr />
			<h4>Within the first week</h4>
			<ul >
				<li>
					Surgical drainage tubes will be removed
				</li>
				<li>
					Stitches will be removed (Navel stitches in 7 days, main stitches in 12-13 days)
				</li>
				<li>
					Bruising and swelling will reach its peak.
				</li>
			</ul>
			<hr />
			<h4>After several weeks</h4>
			<ul >
				<li>
					You will no longer need to wear the support garment
				</li>
				<li>
					You may gradually increase your activity and exercise
				</li>
				<li>
					You may return to non-strenuous work (typically within the first few weeks)
				</li>
				<li>
					Bruising and swelling will continue to subside and you begin to see your results
				</li>
			</ul>

			<hr />
			<h4>After few months</h4>
			<p>
				You will see a true picture of the final result of your surgery. Feelings of numbness or tightness will disappear. Your incision line may
				begin to fade from its reddish color (full fading may take a year or more) in the months following surgery, it's important to treat your skin
				with extra care- that means gentle moisturizing with emollient creams, avoiding injury or tying the clothes exactly over the scar.
			</p>
			<hr />
			<h4>What should I know about my results?</h4>
			<p>
				Quite soon after surgery, you will see a noticeable difference in the shape of your body. Many people find that their firmer, flatter
				abdomen boosts their confidence and makes them feel more comfortable in clothing. As the months pass, your incision line will continue to
				fade; however, it's important to realize that minimal scar will be permanently visible. Many patients view the permanent scar as a small tradeoff
				for their firmer, sleeker appearance.
			</p>

			<p>
				Abdominoplasty produces long-lasting results. Unless you gain or lose a significant amount of weight, you can expect to retain your new
				shape for many years.
			</p>
		</div>
	</div>
	<script>
		$('#body_contour_container2 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>

	<h2 style="margin-top:40px;">Body lift</h2>
	<h3>Body Lift Surgery?</h3>
	<p>
		Loose sagging skin just does not look good and gets in the way of normal activities or movement. Aging, pregnancy, certain genetic skin conditions, and major weight loss can result in lax hanging tissues. The body is three dimensional. When the problem extends around the body, Body Lift Surgery can addresses loose drooping tissues circumferentially. Body Lift Surgery often involves several stages to address the entire body: Lower Body Lift, Breast Lift, Arm Lift, Upper Body Lift among other sculptures.
	</p>

	<hr />
	<h3>Lower Body Lift Defined</h3>
	<p>
		A Lower Body Lift combines the Tummy Tuck Abdominoplasty sculpture of the stomach, with Thigh Lift, and Buttock Lift sculpting the entire
		body in a band about the waist or a Belt Lipectomy.
	</p>

	<p>
		Excess skin and fat are removed, the stomach muscle wall tightened, and the Superficial Fascia Suspension System (SFS) resuspended
	</p>
	<p>
		This connective tissue network in the fat contributes greatly to holding tissues elevated. The tone of this SFS is what gives a more youthful
		appearance and support to the entire sculpture. Liposuction is often combined with Body Lift Surgery to refine nearby regions of localized fat.
	</p>

	<hr />
	<h3>Body Lift Surgery is Not a Weight Loss Tool?</h3>
	<p>
		Body Lift Surgery is a resuspension sculpture. It is not a alternative to losing weight or a motivational tool. Losing weight is a coarse tool.
		You cannot predict where the fat will come from. Plastic Surgery is better as a refinement tool. Major weight loss after Body Lift can result in
		further tissue sagging.
	</p>

	<hr />
	<h3>After Major Weight Loss?</h3>
	<p>
		After Significant Weight Loss tissue only shrinks so well leaving excessive loose drooping skin and supporting structures. The hanging skin can
		make it difficult to maintain hygiene, find fitting clothing, and force bothersome adjustments of flesh with activities like sitting down or standing
		up. After major weight loss, individuals often want quick results, Body Lift Surgery is best postponed until the skin and tissue have stabilized.
		The time to stabilization can vary from 6 to 18 months depending on many factors.
	</p>

	<hr />
	<h3>Buttock Reshaping</h3>
	<p>
		The butt lift is a relatively new procedure. The buttocks lift can be performed as a solo procedure or as part of the total body lift.
		The procedure improves the contour of the buttock and makes it 'perkier'.
	</p>

	<h3>The butt lift can be achieved by two methods</h3>
	<ul >
		<li>
			Removing excess skin and tightening the skin above the upper part of the buttocks will lift the buttocks.
		</li>
		<li>
			The butt can also be lifted with fat injections or implants. The fat injection procedure is also referred to as the Brazilian butt lift .
			In addition to more volume and prominence, the fat injections give the butt more projection or lift.
		</li>
	</ul>

	<div id="body_contour_container3">
		<a class="btn btn-normal btn-primary" href='javascript:;'>FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>Should i remove excess skin to get the lift or should i do the brazilian butt lift?</h4>
			<p>
				If the buttocks are very large, the patient may first benefit instead from liposuction to reduce the overall size of the buttock. If,
				on the contrary, you want larger buttocks with more projection, you might be better served with a butt implant or fat injection to the buttocks.
				Implants or fat injections will fill out the butt and lift the buttocks. Fat injections to the butt are also known as the brazilian butt lift.
			</p>

			<p>
				However, if your buttocks are sagging, but you do not want an augmentation, the butt is lifted by removing tissue and tightening skin. If
				the sag is minimal, a 'butt wedge' excision might be indicated. The tissue is excised at the buttock crease. This leaves a relatively unnoticeable
				scar at the buttock crease.
			</p>

			<p>
				This butt lift technique cuts out tissue at the junction of lower back and buttock. This allows for a true elevation of the buttock tissues
				and a reshaping of the entire butt. In combination with a liposuction of the hips or thighs it can result in a dramatic reshaping of the entire
				backside.
			</p>

			<hr />
			<h4>What is involved in the buttock lift procedure which removes excess skin?</h4>
			<p>
				The butt lift can be done under 'twilight' anesthesia or general anesthesia. For this butt lift technique, an ellipse of skin and fat is
				cut out from the upper part of the buttock at the junction with the lower backWe very careful to hide the scar so that it is hidden even with
				a bikini bathing suit. The butt lift is easily tolerated as an outpatient procedure.
			</p>

			<hr />
			<h4>Can both lifting techniques be done on my buttocks?</h4>
			<p>
				Yes, we can lift the butt by removing excess skin and then also inject the buttocks with fat.
			</p>

			<hr />
			<h4>What is involved in the recovery for the butt lift?</h4>
			<p>
				The patient is advised not to sit for one week so as not to stress the operated area. You may return to work in 2 weeks if you
				do not do a lot of extensive sitting.
			</p>

		</div>
	</div>
	<script>
		$('#body_contour_container3 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>

	<p>
		By resecting the part of medial and lateral Gastrocnemius muscle, we can control where and how much muscle could be removed and
		predict the result more accurately.
	</p>
	<p>
		Because there are no important vessel or nerves inside of muscle fascia, there is no risk of nerve or vessel injury.
	</p>
	<p>
		Eventhough the postoperative recovery period is long, it worth it.
	</p>

	<hr />
	<h3>Fat reduction from arms, legs, thighs or face</h3>
	<p>
		Regional fat reduction can be done under local anaesthesia by selective liposuction as a day care / office procedure if the patient so desires.
	</p>

</div>