<% provide(:title, 'Botox') %>
<div class="hero-unit">

	<div class="insetBgd botox_banner">
		<h1 class="insetType inset_top">Botox</h1>
		<h1 class="insetType inset_bottom">a smoother look</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Botox / Fillers</h4>
		<p>
			Face is the focus of human communication and the perception of attractiveness which does not escape the passage of time. Creases or lines on the face can be caused due to aging, gravity, actinic damage (photoaging), positional pressure (during sleep), smoking, harsh weather and from repeated muscle contractions as occurs with facial expressions (dynamic lines or rhytides). These dynamic facial lines gradually change to static lines ingrained on the face even at rest which are regarded as a sign of aging and can have a negative impact on the self esteem of an individual.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/botox1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/botox2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/botox3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<h3>Botox</h3>
	<p>
		BOTOX® is a purified protein complex produced by the clostridium botulinum bacterium. It is approved by the United States FDA. Botulinum Toxin (BTX) is the wonder drug of the last decade combating cutaneous signs of aging (forehead lines, frown lines, crow's feet, Bunny lines, neck bands) and hyperhidrosis through cosmetic denervation.
	</p>

	<div id="botox_container1">
		<a class="btn btn-normal btn-primary" href='javascript:;'>Botox FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>Am I a candidate for Botox?</h4>
			<p>
				Yes if you want prevention and amelioration of dynamic wrinkles (wrinkles in motion) such as: crow's feet (lateral ocular canthi rhytides), vertical (glabellar frown lines), horizontal ( forehead lines) or wrinkles on nose (Bunny lines), upper lip rhytides ( smoker lines), gummy smiles , pebbly chin, jaw line, venus rings (horizontal neck rhytides), turkey neck (vertical platysmal bands).
			</p>

			<hr />

			<h4>How it works?</h4>
			<p>
				Aging skin and wrinkles result from a combination of many factor.The hyperkinectic lines that appear between your brows , around your eyes ,on your forehead & on the nose as result from muscle contractions. . After years of frequent contraction, those wrinkles can linger even after the muscles are at rest.
			</p>
			<p>
				BOTOX<sup>®</sup> relaxes these fatigued muscles, which in turn causes these lines to fade, giving one's face a relaxed rejuvenated look. In cosmetic clinics, doctors today are trained to give the right quantity of BOTOX® at the right sites on the face-with the result that even while wrinkles fade away, the client continues to retain his/her natural looks and expressions.
			</p>

			<h4>Is Botox safe?</h4>
			<p>
				Yes it is generally a safe procedure. In India, BOTOX® was approved for its cosmetic use in 2006 for treating hyper kinetic facial lines and hyperhydrosis treatment. Contraindications include neuromuscular disorders eg. myaesthenia gravis. Many such disorders are inherited and hence it is mandatory to rule out a family history of the same. Since the teratogenicity of BTX has not yet been established, it is contraindicated during pregnancy as well as breast feeding.
			</p>

			<h4>Duration of effect?</h4>
			<p>
				One 15-minute treatment—a few tiny facial injections—and within 7 to 14 days there's a noticeable improvement in moderate to severe lines on your face, which can last upto 6 months . Individual results may vary.
			</p>

		</div>
	</div>
	<script>
		$('#botox_container1 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>

	<hr />
	<h3>Derma Fillers</h3>
	<p>
		Both work by removing the uppermost layer of dead skin cells from the face, chest and hands. It gives results you can't achieve with a home microdermabrasion kit, which is basically a scrub for the face that is often too abrasive and can even irritate skin.
	</p>

	<div id="botox_container2">
		<a class="btn btn-normal btn-primary" href='javascript:;'>Fillers FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>Am I a candidate for fillers?</h4>
			<p>
				The use of dermal fillers depends on the nature of the product, for example some fillers are suited for superficial wrinkles and folds whereas still others are best used for deeper wrinkles or scars.
			</p>

			<p>
				By and large some of the common indications are - depressed scars (post surgical, traumatic, resulting from acne or other diseases), wrinkles and creases caused by facial expression and aging, lip sculpting, dermal atrophy from disease or injection of steroids, periocular melanoses and sunken eyes.
			</p>
			<hr />

			<h4>Are Fillers safe?</h4>
			<p>
				Usually fillers are safe provided done with by a trained practisioner. Remember not to rub the treated area so that filler material
				remains undistributed.
				Contraindications to using fillers include: positive skin testing, patients with autoimmune diseases, active local disease like acne,
				Herpes Infection and unrealistic expectations.
			</p>
			<hr />
			<h4>Patient preparation?</h4>
			<p>
				Avoidance of aspirin, certain pain killers, anticoagulants, Vit E, green tea for ten days prior to treatment to lesson chance of bruising.
			</p>
			<hr />

			<h4>Is fillers application painful?</h4>
			<p>
				It can be made absolutely painless by use of surface anaesthetic agents.
			</p>
			<hr />

			<h4>Post procedure precautions?</h4>
			<ul class="benifits">
				<li>
					Area should not be touched for 6 hours after treatment.
				</li>
				<li>
					Make-up should be avoided for 12 hours.
				</li>
				<li>
					Patient should avoid extremes of heat, cold or UV radiation.
				</li>
				<li>
					Sauna bath should be avoided for 1 week.
				</li>
				<li>
					Chemical peels, laser treatment etc. should be spaced out for at least 2 weeks to avoid inflammation of injection site.
				</li>
			</ul>
			<hr />
		</div>
	</div>
	<script>
		$('#botox_container2 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>
</div>