<div class="hero-unit">

	<div class="insetBgd breast_shaping_banner"></div>
	<div style="text-align: justify;">
		<h4>Breast Lift (Mastopexy)</h4>
		<p>
			Breast lift surgery, also called mastopexy, removes excess breast skin to raise, reshape and firm your breasts. The nipples and areolas (the pigmented skin surrounding the nipples) are repositioned, and the areolas sometimes may be reduced in size. If desired, implants may be inserted in conjunction with a breast lift to increase breast value.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/breast_lift1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/breast_lift2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/breast_lift3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<h3>Considering a breast lift?</h3>
	<p>
		Loss of skin elasticity, gravity and other factors such as weight loss, pregnancy and breast feeding ultimately affect the shape and firmness
		of your breasts. Patients who are generally satisfied with the size of their breasts can have a breast lift to raise and firm them, resulting
		in a more youthful breast contour. Some patients may be unhappy that they have lost a significant amount of breast volume over a time. In such
		cases, implants inserted in conjunction with a breast lift can increase breast size at the same time as the shape and position of the breasts
		are enhanced.
	</p>

	<div id="breast_shaping_container1">
		<a class="btn btn-normal btn-primary" href='javascript:;'>Breast Lift FAQ's</a>
		<div class='content' style='display: none;'>

			<h4>Am I good candidates for a breast lift?</h4>
			<p>
				You may be good candidate for breast lift surgery if you have one or more of the following conditions:
			</p>
			<ul>
				<li>
					Breasts that are pendulous, but of satisfactory size
				</li>
				<li>
					Breasts that lack substance or firmness
				</li>
				<li>
					Nipples and areolas that point downward, especially if they are positioned below the breast crease
				</li>
				<li>
					A breast lift can be performed at any age, but we usually recommend waiting until breast development has stopped.
				</li>
			</ul>

			<hr />

			<h4>How will you evaluate me for breast lift surgery</h4>
			<p>
				We will examine your breasts, taking measurements and perhaps photographs for your medical record. The size and shape of your breasts,
				the quality of your skin and the placement of the nipples and areolas will be carefully evaluated.
			</p>

			<hr />

			<h4>How a Breast Lift is performed?</h4>
			<p>
				Individual factors and personal preferences will determine the specific technique selected to lift your breasts. Essentially the technique
				involves redraping of the skin & tissues to make a more youthful looking breast.
			</p>

			<hr />

			<h4>Where are the incisions placed?</h4>
			<p>
				Incisions depend upon the level of breast sagging. In mild to moderate sagging a periareolar incision is used. In moderate sagging a combination
				of periareolar and vertical incision dropped down from the bottom edge of the areola to the crease underneath the breast is used. For heavily
				pendulous breasts three incisions are used. One incision is made around the areola. Another runs vertically from the bottom edge of the areola
				to the crease underneath the breast. The third incision is horizontal beneath the breast and follows the natural curve of the breast crease.
			</p>

			<p>
				After we have removed excess breast skin, the nipple and areola are shifted to a higher position. The areola, which in a sagging breast may have
				been stretched, can be reduced in size. Skin that was formerly located above the areola is brought down and together beneath it to
				reshape the breast.
			</p>

			<hr />

			<h4>Understanding Risks?</h4>
			<p>
				Fortunately, significant complications from breasts lifts are infrequent. Some of the potential complications that may be discussed with you
				include bleeding, infection and reactions to anesthesia. Following a breast lift, sometimes the breasts may not be perfectly symmetrical or the
				nipple height may vary slightly. Minor adjustments often can be made at a later time. Permanent loss of sensation in the nipples or areas of breast
				skin may occur rarely.
			</p>

			<hr />

			<h4>How should I prepare for surgery?</h4>
			<p>
				Depending on your age, or if you have a history of breast cancer in your family, we may recommend a baseline mammogram before surgery and
				another mammographic examination some months after surgery. This will help to detect any future changes in your breast tissue.
			</p>

			<hr />

			<h4>How will I look and feel initially?</h4>
			<p>
				The day after surgery, you will be encouraged to get out of bed for short periods of time. After several days, you should be able to move about
				more comfortably. Straining, bending and lifting must be avoided, however, since these activities might cause increased swelling or even bleeding.
				You may be instructed to sleep on your back to avoid pressure on your breasts.
			</p>

			<p>
				You may be instructed to wear a support bra for few weeks, until the swelling and discoloration of your breasts diminish. You may notice that
				you feel less sensation in the nipple and areola areas. This is usually temporary. Your breasts may also require some time to assume a more
				natural shape.
			</p>

			<hr />

			<h4>When can I resume my normal activities?</h4>
			<p>
				After breast lift surgery, it is often possible to return to work within a week or so, depending on your job. In many instances, you can resume
				most of your normal activities, including some form of mild exercise, after few weeks. You may continue to experience some mild, periodic discomfort
				during this time, but such feelings are normal. Severe pain should be reported to your doctor.
			</p>

			<p>
				Any sexual activity should be avoided for a minimum of two weeks. After that, care must be taken to be extremely gentle with your breasts for
				at least the next several weeks.
			</p>

			<hr />
			<h4>Results of Breast Lift?</h4>
			<p>
				Breast lift surgery will make your breasts firmer and more uplifted. The position of your areolas and nipples will be enhanced, and the size of
				your areolas will be aesthetically pleasing.
			</p>

			<p>
				The incisions from your breast lift surgery will heal and fade over time. It is important to realize, however, that the incision lines will
				be permanently visible. In some instances, they will eventually be only faint lines. Certain individuals may have incision lines that are more
				noticeable. Fortunately, the incisions for your breast lift are in locations easily concealed by clothing, even low-cut necklines.
			</p>

		</div>
	</div>
	<script>
		$('#breast_shaping_container1 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>

	<hr />
	<h3>Breast Enhancement- Breast Implant/Fat & Stem cell Therapy</h3>

	<p>
		Augmentation mammoplasty is the medical term for breast augmentation. Also referred to as breast enhancement or breast enlargement, this type of plastic surgery involves placing silicone or saline breast implants either behind the breast tissue or beneath the chest muscle to add size, shape, and fullness to the breast. Breast augmentation can be performed to make smaller breasts appear larger, balance breasts that are asymmetrical, or restore fullness that has diminished with age or as a result of pregnancy.
	</p>

	<p>
		The breast enhancement process involves close communication and cooperation between patient and surgeon. Before breast implants are placed, many decisions must be made, including the type and size of the breast implant, where it will be placed, and the location of the incision. The patient will also be asked to follow some specific instructions from the surgeon.
	</p>

	<div id="breast_shaping_container2">
		<a class="btn btn-normal btn-primary" href='javascript:;'>Breast Enhancement FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>Am I a Candidate for Breast Augmentation?</h4>
			<p>
				There are many important considerations to make before deciding if breast augmentation surgery is right for you. . The ideal candidate for breast
				augmentation surgery is a healthy adult who is well informed about the results and risks of receiving breast implants. An ideal candidate for breast
				augmentation will also have realistic expectations for the outcome of the surgery. People who are not good candidates for breast implants are those
				with unrealistic expectations about the results of breast augmentation or those who feel pressured into surgery by others.
			</p>

			<h4>Is Breast Augmentation Right for Me?</h4>
			<p>
				If you are a healthy adult with a positive self-image, breast augmentation may be a good option for you. Discussing breast implants and
				breast augmentation with us may be a good way of answering any of your questions or addressing any concerns. The important thing is to make
				an informed decision that you feel confident about.
			</p>

			<h4>How long is the recovery period after breast enlargement surgery?</h4>
			<p>
				Most women can expect to return to work in a few days to a week. Exercise can typically be resumed three to four weeks following breast
				enlargement surgery.
			</p>

			<h4>Are Implants safe?</h4>
			<p>
				There have been concerns about safety of breast implants in the past. Present available data shows that breast implants
				do not lead to increase in incidence of breast cancer or autoimmune diseases.
			</p>

			<h4>What are the risks involved with breast augmentation surgery?</h4>

			<p>
				Although there are many benefits that result from breast augmentation surgery, including improved self esteem, a more balanced figure, and more
				choices in clothing, there are also a number of risks involved with breast enhancement that should be carefully considered before choosing to undergo
				surgery. Risks include infection, deflation, nipple numbness and implant displacement. Another potential side effect is called capsular contracture.
				This occurs when the scar or capsule around the breast implant begins to tighten, squeezing the implant and causing the breast to harden.
			</p>

			<h4>Is breastfeeding possible after breast augmentation surgery?</h4>
			<p>
				Breast enlargement surgery should not affect a woman's ability to breastfeed.
			</p>

			<h4>Will breast implants interfere with annual mammograms?</h4>

			<p>
				Breast implants will affect how your annual mammogram is performed. You will need to visit a radiology center where the technicians are trained
				to perform mammograms on patients with breast implants. Additional x-rays taken from various angles will be required to ensure an accurate reading.
				If the breast implant is placed under the muscle, 90 percent of the breast tissue will be visible. If the implant is placed over the muscle,
				only 75 percent of the breast tissue will be visible.
			</p>

			<h4>Alternative Option to Breast Implant?</h4>
			<p>
				Yes there is an alternative present which has become quite a rage in the western countries. Fat and Stem cell are harvested from one's own
				body and are transplanted into the breast. The advantage of this procedure is that one's own autologous tissue is being used and no foreign
				material (implant) is used. Also it is a minimally invasive procedure with no perceptable scars. Hence it is more natural. The only demerit
				of this procedure is that two or more sittings may be required
			</p>

			<hr />
		</div>
	</div>
	<script>
		$('#breast_shaping_container2 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>

	<h3>Natural Breast Enhancement Options</h3>
	<p>
		Women who are concerned about the risks or cost of augmentation mammoplasty may turn to natural breast enhancement pills, creams or devices.
		However, these products are not without their own risks, so it is important to consult a physician before beginning any course of breast
		augmentation treatment.
	</p>
	<hr />
	<h3>Breast Reduction</h3>
	<p>
		Women with the large, pendulous breasts may experience a variety of medical problems caused by the excessive weight - from back and neck pain
		and skin irritation to skeletal deformities and breathing problems. Bra straps may leave indentations in their shoulders. An unusually large breast
		can make women - or a teenage girl feel extremely self-conscious. Breast reduction is designed for such women. The procedures remove fat, glandular
		tissue, and skin from the breast, making them smaller, lighter, and firmer. It can also reduce the size of the areola, the darker skin surrounding
		the nipple. The goal is to give the woman smaller, better-shaped breast in proportion with the rest of her body.
	</p>
	<hr />

	<h3>The best candidates for breast reduction?</h3>
	<p>
		Breast reduction is usually performed for physical relief rather than simply cosmetic improvement. Very large, sagging breast restrict
		activates and cause physical discomfort which drives most women to have the surgery.
	</p>

	<p>
		In most cases, breast reduction isn't performed until a women's breast are fully developed; however, it can be done earlier if large breast
		are causing serious physical discomfort. The best candidates are those who are mature enough to fully understand the procedure and have
		realistic expectations about the results.
	</p>

	<div id="breast_shaping_container3">
		<a class="btn btn-normal btn-primary" href='javascript:;'>Breast Reduction FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>Is breast reduction safe?</h4>

			<p>
				Breast reduction is not a simple operation, but it's normally safe when performed by a qualified plastic surgeon. Nevertheless, as with
				any surgery, there is always a possibility of complications, including bleeding, infection or reaction to the anesthesia. You can reduce your
				risk by closely following your physician's advice both before and after surgery. The procedure does leave noticeable, permanent scars, although
				they'll be covered by your bra or bathing suit. (Poor healing and wider scars are more common in smokers).
			</p>

			<hr />

			<h4>Planning your surgery</h4>
			<p>
				In your initial consultation, it's important to discuss your expectations frankly with us, and to listen to our opinion. Every patient as well
				as every physician has a different view of what is a desirable size and shape for breast.
			</p>

			<p>
				We will examine and measure your breast, and will probably photograph them for reference during surgery and afterwards. (The photograph may also
				be used in the processing of your insurance coverage.) We will discuss the variable that may affect the procedure-such as your age, the size and
				shape of your breast, and the condition of your skin. You should also discuss where the nipples and areola will be positioned; they'll be moved
				higher during the procedure, and should be approximately even with the crease beneath your breast.
			</p>

			<p>
				We will describe the procedure in detail, explaining its risks and limitations and making sure you understand the scarring that will result.
			</p>
			<hr />

			<h4>Type of anesthesia?</h4>
			<p>
				Beast reduction is nearly always performed under general anesthesia. You'll be asleep through the entire operation.
			</p>

			<hr />

			<h4>The surgery?</h4>
			<p>
				Techniques for breast reduction vary, but the most common procedure involves an anchor-shaped incision that circles the areola, extends
				downward, and follows the natural curve of the crease beneath the breast. We remove excess glandular tissue, fat and skin, and moves the nipple
				and areola into their new position. We then brings the skin from both sides of the breast down and around the areola, shaping the new contour
				of the breast. Liposuction may be used to remove excess fat from the armpit area.
			</p>

			<p>
				In most cases, the nipples remain attached to their blood vessels and nerves. However, if the breasts are very large or pendulous, the nipples
				and areola may have to be completely removed and grafted into a higher position. (This will result in a loss of sensation in the nipple an
				areola tissue.)
			</p>

			<p>
				Stitches are usually located around the areola, in a vertical line extending downward, and along the lower creases of the breast. In some cases,
				techniques can be used that eliminates the vertical part of the scar. Occasionally, when only fat needs to be removed, liposuction alone can be
				used to reduce breast size, leaving minimal scars.
			</p>

			<hr />

			<h4>After your surgery?</h4>
			<p>
				After surgery, you'll be wrapped in a elastic bandage or a surgical bra over gauze dressings. A small tube may be placed in each breast
				to drain off blood and fluids for the first day or two. You may feel some pain for the first couple of days especially when you move around
				or cough-and some discomfort for a week or more. We will prescribe medication to lessen the pain.
			</p>

			<p>
				The bandages will be removed a day or two after surgery, through you'll continue wearing the surgical bra around the clock of several weeks.
				Your stitches will be removed in one to three weeks.
			</p>

			<p>
				Your first menstruation following surgery may cause your breasts to swell and hurt. You can expect some loss of feeling in your nipples and
				breast skin, caused by the swelling after surgery. This usually fades over the next six weeks or so. In some patients, however, it may last a
				year or more, and occasionally it may be permanent.
			</p>

			<hr />

			<h4>Getting back to normal?</h4>
			<p>
				Although you may be up and about in a day or two, your breasts may still ache occasionally for a couple of weeks. You should avoid lifting
				or rushing anything heavy for three or four weeks.
			</p>

			<p>
				We will give you detailed instructions for resuming your normal activates. Most women can return to work (if it's not too strenuous) and social
				activates in about two weeks. But you'll have much less stamina for several weeks, and should limit your exercise to stretching, bending, and
				swimming until your energy level returns; you'll also need a good athletic bra for support. You may be instructed to avoid sex for a week or more,
				since sexual arousal can cause your incisions to swell, and to avoid anything but gentle contact with your breast for about six weeks.
				A small amount of fluid draining from your surgical wound, or some crusting is normal.
			</p>

			<hr />
			<h4>Your new look?</h4>

			<p>
				Although much of the swelling and bruising will disappear in the first few weeks, it may take up to six months before your breasts settle
				into their new shape. Even then, their shape may fluctuate in response to your hormonal shifts, weight changes, and pregnancy. We will make every
				effort to make your scars as inconspicuous as possible. Still it's important to remember that breast reduction scars are extensive and permanent.
				They often remain red for months, then gradually become less obvious, sometimes eventually fading to thin white lines. Fortunately, the scars
				can usually be placed so that you can wear even low-cut tops. Of all plastic surgery procedures, breast reduction result in the quickest
				body-image changes. You'll be rid of the physical discomfort of large breasts, your body will look better proportioned, and clothes will fit
				you better.
			</p>

			<p>
				However, as much as you may have desired these changes, you'll need time to adjust to your new image as will your family and friends.
				Keep in mind why you had this surgery, and chances are that, like most women, you'll be pleased with the results.
			</p>

			<p>
				With smaller, better-proportioned breasts, you will feel more comfortable and your clothes will fit better.
			</p>

			<hr />
		</div>
	</div>
	<script>
		$('#breast_shaping_container3 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>
	<hr />
	<br />
	<h3 >Inverted Nipple Correction</h3>

	<h4>What's Going On To Cause Inverted Nipples?</h4>

	<p>
		When your nipple stays in a flat, or even a fully depressed or inverted position you're typically dealing with a family heredity issue where perhaps
		your mother or father's ancestors shared the same breast condition. Alternatively, a small abnormality unique to you occurs where either scar tissue
		associated with your milk glands, or bound-up and constricted tissue matter encircling the base of your nipple or areola occurs. Result? An inverted
		nipple condition occurs. Your nipple is effectively 'locked down' into a position, held in place by a matrix of abnormal tissue, even scar tissues in
		some cases.
	</p>

	<hr />

	<h4>A Matter Of Appearance, Sexuality And Breast Feeding?</h4>

	<p>
		Face it. All women want to be attractive and sexually vibrant. A woman's breast is a key sexual 'marker' where the overall breast shape
		and nipple projection create the 'total impression'. With inverted nipples, a woman may sense social stigma, and even be concerned that her breast
		fail to communicate arousal when stimulated. All of these concerns over appearance and function can be markedly reduced with the range of cosmetic
		surgical treatment option now available.
	</p>

	<hr />

	<h4>Removal of male excess breast (Gynaecomastia Correction)</h4>

	<p>
		Gynaecomastia is a medical term that comes from the Greek words for woman-like breasts. Though this oddly named condition is rarely talked about,
		it's actually quite common. It may affect only one breast or both. Though certain drugs and medical problems have been linked with male breast over
		development, there is no known cause in the vast majority of cases.
	</p>

	<p>
		For men who feel self-conscious about their appearance, breast-reduction surgery can help. The procedure removes fat and or glandular tissue
		from the breasts and in extreme cases removes excess skin, resulting in a chest that is flatter, firmer, and better contoured..
	</p>

	<hr />

	<h4>The best candidates for Gynaecomastia correction?</h4>
	<p>
		Surgery to correct gynaecomastia can be performed on healthy, emotionally stable men of any age. The best candidates for surgery have firm,
		elastic skin that will reshape to body's new contours.
	</p>

	<hr />

	<h4>All surgery carries some uncertainty and risk?</h4>
	<p>
		When male breast-reduction surgery is performed by a qualified plastic surgeon, complications are infrequent and usually minor. Nevertheless, as
		with any surgery, there are risks. These include infection, skin injury, excessive bleeding, adverse reaction to anaesthesia. If asymmetry is
		significant, a second procedure may be performed to remove additional tissue.
	</p>
	<p>
		The temporary effects of breast reduction include loss of breast sensation or numbness, which may last up to a year.
	</p>

	<hr />

	<h4>Planning your surgery?</h4>
	<p>
		The initial consultation with us is very important. We will need a complete medical history, so check your own records ahead of time and be
		ready to provide this information. First, we will examine your breasts and check for causes of the gynaecomastia, such as impaired liver function,
		use of estrogen containing medications or anabolic steroids. If a medical problem is the suspected cause, you'll be referred.
	</p>
	<hr />
	<h4>The Surgery?</h4>

	<p>
		A wide variety of surgical options are available for treatment of gynaecomastia. It depends upon the amount of fatty tissue, ductular component
		or excess skin component present in the breast. Treatment modalities include liposuction, liposuction with pull through resection,liposuction with
		glandular and excess skin resection etc. We will only be able to spell out the definitive management plan after assessing you.
	</p>

</div>