<% provide(:title, 'Live Chat') %>
<div class='container' id='main'>
	<div class='row'>
		<div class='span4'>
			<div class='well sidebar-nav' id='users'>
				<ul class='nav nav-list' id='user-list'>
					<li class='nav-header'>
						Chatty
					</li>
					<li class='active'>
						<a href='#users'> <i class='icon-inbox'></i> All Messages </a>
					</li>
					<li class='nav-header'>
						Users
						(
						<span id='num-users'>0</span>
						)
					</li>
				</ul>
			</div>
		</div>
		<div class='span8' id='messages'>
			<div class='row' id='messages-inner'>
				<div class="message-wrapper is-from-me">
					<div class="screen-name">
					  test user
					</div>
					<div class="message">
					  test message
					</div>
				</div>
				<div class="message-wrapper">
					<div class="screen-name">
					  test other user
					</div>
					<div class="message">
					  test other user message
					</div>
				</div>
			</div>
			<div class='row' id='input'>
				<form class='well'>
					<button class='btn' type='submit'>
						Send
					</button>
					<input class='span6' placeholder='Message...' type='text'>
				</form>
			</div>
		</div>
	</div>
</div>