<div class="insetBgd contact_banner">
	<h1 class="insetType inset_top">Lets Redefine</h1>
	<h1 class="insetType inset_bottom">Yourself with us</h1>
</div>
<br />
<br />
<div class="row">

        <section class="span5">
        	<br />
        	
		<h3>Quick Connect</h3>	
          <form>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-user"></i> Full Name</label>
              <div class="controls controls-row">
                <input type="text" class="input-xlarge" id="inputEmail" placeholder="Please Enter Full Name">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-envelope"></i> Email</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="inputEmail" placeholder="Please Enter your Email ID">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-question-sign"></i> Subject</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="inputSubject" placeholder="Subject of your Query?">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-pencil"></i> Message</label>
              <div class="controls">
                <textarea rows="6" class="input-xlarge" placeholder="Please Enter your Query."></textarea>
              </div>
            </div>

            <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">Send Message</button>
    </div>

          </form>
          <br class="clear">


                
        </section><!-- end left -->

        <section class="span6">
          <div class="well">
          	<h3>Locations</h3>	
            <hr /> 
<h4>DELHI</h4>
				<br />
				<strong>Address:</strong> Max MedCentre,
				<br />
				Center For Aesthetic Medicine,
				<br />
				2nd Floor. N 110, Panchsheel Park
				<br />
				New Delhi 110 017.
				<br />
				<strong>Contact No:</strong> +91-9650322992\94\93\91
				<br />
				<strong>E-mail:</strong> info@kirandermatekniks.com
				<br />
				<strong>Fax:</strong> +91 124 4206685
				
			<hr />	
				<h4>GURGAON</h4>
				<br />
				<strong>Address:</strong> 210, Radisson Suite, Commercial Plaza, 
				<br />
				Sushant Lok B block, DLF Phase 1, Gurgaon, Haryana, India.
				<br />
				<strong>Contact No:</strong> +91 124 4206686
				<br />
				<strong>E-mail:</strong> info@kirandermatekniks.com
				<br />
				<strong>Fax:</strong> +91 124 4206685
				<br />
				<hr />
				
				<h4>UAE</h4>
				<br />
				<strong>Address:</strong> Al Tawun , 1 Tower - 204 Tawun Area,
				<br />PO Box - 66140, Sharjah
				<br />
				<strong>Tel:</strong> +971 6 5546445 
				<br />
				<strong>Clinic Mob. :</strong> +971 50 4557326 
				<br />
          </div><!--end well -->
        </section><!--end right --> 
      </div>