<div class="insetBgd schedule_banner">
	<h1 class="insetType inset_top">Treatments</h1>
	<h1 class="insetType inset_bottom">you can trust</h1>
</div>



<div class="row">

	<span class="span6">
		<div class="box effect8 shedule_time" >
			<h3>Dr. Pooja Aggarwal (MBBS, MD)</h3>
			<br />

			<section class="doctor_description">
				<p>
					<h5>Timing</h5> Mon to Sat, Walk In (10am to 4pm) - On Appointment
				</p>

			</section>
		</div> 
	</span>

	<span class="span6">
		<div class="box effect8 shedule_time" >
			<h3>Dr. Dilip Meena (MBBS, MD)</h3>
			<br />

			<section class="doctor_description">
				<p>
					<h5>Timing</h5> Mon to Sat, Walk In (10am to 6pm) - On Appointment
				</p>

			</section>
		</div> 
	</span>

</div>

<div class="row">

	<span class="span6">
		<div class="box effect8 shedule_time" >
			<h3>Dr. Sidharth Santholia (MBBS, MD)</h3>
			<br />

			<section class="doctor_description">
				<p>
					<h5>Timing</h5> Mon & Wed - 4 PM to 6 PM Tue & Thur - 6 to 8 PM
				</p>

			</section>
		</div> 
	</span>

	<span class="span6">
		<div class="box effect8 shedule_time" >
			<h3>Dr. Chanchal Choudhary (MBBS, MD)</h3>
			<br />

			<section class="doctor_description">
				<p>
					<h5>Timing</h5> Max Panchsheel 10am - 2pm
				</p>

			</section>
		</div> 
	</span>

</div>

<div class="row">

	<span class="span6">
		<div class="box effect8 shedule_time" >
			<h3>Dr. Neha Garg</h3>
			<br />

			<section class="doctor_description">
				<p>
					<h5>Timing</h5> Mon to Fri. - 5 PM to 7 PM
				</p>

			</section>
		</div> 
	</span>

	

</div>
<%= render 'layouts/doctors_know_more' %>

