<div class="insetBgd schedule_banner">
	<h1 class="insetType inset_top">Treatments</h1>
	<h1 class="insetType inset_bottom">you can trust</h1>
</div>

<div class="row">

	<span class="span6">
		<div class="box effect8 shedule_time" >
			<h3>Dr. Aditi Jha (MMBS AIIMS, MD AIIMS)</h3>
			<br />

			<section class="doctor_description">
				<p>
					<h5>Timing</h5> Max Panchsheel 4pm - 7 pm (Mon - Sat)
				</p>

			</section>
		</div> 
	</span>

	<span class="span6">
		<div class="box effect8 shedule_time" >
			<h3>Dr. Chanchal Choudhary (MBBS, MD)</h3>
			<br />

			<section class="doctor_description">
				<p>
					<h5>Timing</h5> Max Panchsheel 10am - 2pm
				</p>

			</section>
		</div> 
	</span>

</div>

<%= render 'layouts/doctors_know_more' %>

