<% provide(:title, 'Ear Treatment') %>
<div class="hero-unit">

	<div class="insetBgd ear_banner">
		<h1 class="insetType inset_top">Beautiful balanced</h1>
		<h1 class="insetType inset_bottom">ears</h1>
	</div>

	<div style="text-align: justify;">
		<h4>Ear Treatment</h4>
		<strong> Ear deformity correction (Otoplasty)</strong>
		<p>
			Ear deformities can range from absolute absence of ears (Anotia) to excessively prominent ears (bat ears). The treatment is different for different deformities. Small deformities are amenable to correction under local anaesthesia with minimal scarring. Larger deformities require longer operating time under general anaesthesia. At you initial consultation we will address your requirements and make the blue print for the treatment.
		</p>

	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/img_ear1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/img_ear2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/img_ear3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">

	<h3>Keloid Ear Treatment</h3>
	<div class="row" align="left">
		<span class="span3" ><img alt="acne1" src="/assets/img_ear4.jpg"></span>
		<span>
			<p>
				Keloid is an abnormal proliferation of scar tissue that forms at the site of cutaneous injury (eg, on the site of a surgical
				incision or trauma); it does not regress and grows beyond the original margins of the scar. Keloids should not be confused with
				hypertrophic scars, which are raised scars that do not grow beyond the boundaries of the original wound and may reduce over time.
				Keloids are benign dermal fibroproliferative tumors with no malignant potential.
			</p> </span>

		<br />
	</div>
	<p>
		The first description of abnormal scar formation in the form of keloids was recorded in the Smith papyrus regarding surgical techniques in Egypt around 1700 BC. The term keloid, meaning "crab claw," was first coined by Alibert in 1806, in an attempt to illustrate the way the lesions expand laterally from the original scar into normal tissue. Keloids are found only in humans and occur in 5-15% of wounds. They tend to affect both sexes equally, although a higher incidence exists of women presenting with keloids, possibly secondary to the cosmetic implications associated with the disfigurement. The frequency of keloid occurrence in persons with highly pigmented skin is 15 times higher than in persons with less pigmented skin. The average age at onset is 10-30 years. Persons at the extremes of age rarely develop keloids. Studies have consistently demonstrated that persons of certain races are more susceptible to keloid scar formation. Individuals with darker pigmentation, black persons, and Asian persons are more likely to develop keloids. In a random sampling of black individuals, as many as 16% have reported developing keloid scars, with an incidence rate of 4.5-16% in the black and Hispanic populations. White persons and albinos are least affected. Some evidence supports a relationship between genetic predisposition and an individual's propensity to form keloid scars. Keloids are dermal fibrotic lesions that are a variation of the normal wound healing process. They usually occur during the healing of a deep skin wound. Hypertrophic scars and keloids are both included in the spectrum of fibroproliferative disorders. These abnormal scars result from the loss of the control mechanisms that normally regulate the fine balance of tissue repair and regeneration.
	</p>

	<h3>Treatment Modalities?</h3>
	<p>
		No single therapeutic modality has been determined experimentally to be most effective for treating keloid scars. The most important thing to consider in the management of keloid scar formation is prevention. Prior to all surgical procedures, we thoroughly discuss a history of abnormal scar formation or a family history of keloid scar formation with the patient. Persons with only earlobe keloids should not be considered keloid formers. We offer a range of treatment modalities ranging from occlusive silicone gel sheets,compression, corticoids injections, Cryosurgery, Laser therapy, Interferon therapy to surgery depending upon the requirement.
	</p>

</div>