<div class="hero-unit">

	<div class="insetBgd facelift_banner">
		<h1 class="insetType inset_top">Facelift</h1>
		<h1 class="insetType inset_bottom">reverse the signs of aging</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Face Lift</h4>
		<p>
			A lot of myths and misconceptions about cosmetic surgery persist even among the very aware and well informed. The most common one that this is about vanity and is meant for the rich. It's not. If looking better day after day will make you happier and more confident then you deserve to be happier and more self assured. Moreover, times have changed, cosmetic surgery doesn't cost you a bomb anymore. So if you are carrying this baggage anywhere in the back of your mind, shed it here and now. At Kiran Dermatology our goal is to help realize your dream of looking beautiful. Our endeavor is to provide ethical and scientific treatment at affordable cost.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span4"> <img alt="acne1" src="/assets/face_lift1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/face_lift2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/face_lift3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<p>
		Our Surgical team of experts Dr AS Bath and Dr DJS Tulla are well trained cosmetic surgeons of repute and have a considerable amount of experience behind them. Together they form a perfect blend of exuberance of youth and experience. The cohesive team has been performing both surgical and nonsurgical procedures with great success and have deeply satisfied patients. The team is abreast with the latest and best cosmetic techniques (Ex. Brazilian butt formation, stem cell therapy for hair fall, stem cell and fat cell transplant for breast, cheek and lip enhancement etc.). The team thrives for perfection and leaves no stone unturned to achieve it. 
	</p>
	<p>
		We at Kiran Dermatology provide a comprehensive range of cosmetic procedures with each procedure tailored to suit the needs of the individual. At the time of initial consultation a thorough and frank discussion is done. All queries are dealt with in detail and complete comprehensive information about the procedures is given. Results promised will be delivered in totality to the entire satisfaction without any preconditions.
	</p>
</div>