<div class="hero-unit">

	<div class="insetBgd hair_reduction_banner">
		<h1 class="insetType inset_top">Look Beautiful</h1>
		<h1 class="insetType inset_bottom">At Any Age</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Hair Reduction</h4>
		<p>
			With more than 5 million follicles spread across the body, it is but natural to see some black sheep going astray. Unwanted hair at unwanted places can be both - upsetting and inconvenient for women and men. Imagine a tuft of hair on the nipples, a crop emerging on the chin or the upper lip or just anywhere on the body where hair follicles are present.
		</p>
		<p>
			You have umpteen options – plucking, waxing, bleaching, shaving, tweezing, threading, trimming, electrolysis, lotions and creams, etc.. Compared to these usual techniques, Laser hair removal is a rapid, yet gentle way of removing unwanted hair, and is medically proven to be safe and a permanent solution.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/hair_reduction_1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/hair_reduction_2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/hair_reduction_3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<h3>Understanding hair removal</h3>
	<p>
		In the past, remedies for unwanted hair included
		plucking, shaving, waxing, electrolysis or chemical
		depilatories. Some are painful. Some are messy,
		and all are only temporary.
	</p>

	<p>
		Laser hair removal is a more effective solution.
		The High Speed LightSheer DUET uses state-ofthe-
		art diode lasers with vacuum-assist technology
		to remove unwanted hair and with greater speed
		and comfort than other methods.
	</p>

	<h3>Laser treatment </h3>
	<div class="row">
		<span class="span3" > <%= image_tag("hair_reduction_4.jpg", alt: "Rails", border: "0") %> </span>
		<span>
			<p>
				This non-invasive laser treatment uses gentle beams of pulsed light to destroy the melanin (the part that gives hair its colour) in hair. The heat damages the follicle (but spares the surrounding skin and tissues) and thus preventing it from producing more hair.
			</p>
			<p>
				Treatments usually lasts 15 minutes to 1hour depending on the area to treated.  you don't have to take time off to recover-so you can resume your normal activities immediately. Laser hair removal usually requires four to six treatments and works best for people with light skin and dark hair.
			</p> </span>
	</div>

	<p>
		Laser hair removal can treat hair anywhere on the face or body. Women often treat the bikini area, chin, upper lip, and legs. Men can safely eliminate unwanted hair from places such as their backs and beard shaping. As the laser is passed gently over the area being treated, the hairs are destroyed which reduces further growth and leaves behind a silky smooth skin.
	</p>

	<p>
		Laser hair removal usually results in almost permanent reduction of unwanted hair. Most people see between 80-90% less hair growth after a full course. In particular it is an effective treatment for ingrown hairs. The laser procedure is much shorter than other methods and is virtually painless. Moreover, laser is suited to a wide variety of hair and skin types.
	</p>

	<hr />
	<div id="hair_reduction_container1">
		<a class="btn btn-normal btn-primary" href='javascript:;'>Hair Reduction FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>What is the treatment like?</h4>
			<p>
				Administered by a licensed nurse or physician, a small hand-held laser device is used to dispense the light beams that are glided through the treatment area. You might experience a slight discomfort during the session, akin to the sensation of a rubber band snapping against your skin. If required, a topical anesthetic can be applied 60 minutes before your session. Some people like to briefly apply an ice pack afterwards. During the procedure you'll be required to wear tinted goggles to protect your eyes from the laser light.Laser hair removal uses various wavelengths of light to destroy hair follice and each system is different.
			</p>

			<p>
				For each treatment, we typically schedule five to six sessions about four to five weeks apart.
			</p>
			<hr />

			<h4>Am I a good candidate?</h4>
			<p>
				Laser hair removal works when the light beams are absorbed by the melanin in the hair shaft and follicle. People with dark hair are considered the best candidates. Blonde, gray, and strawberry-blonde hair may not absorb the laser light. And contrast between the hair and your skin is also important, so people with dark or olive-coloured skin may not have enough contrast for the beams to be absorbed by the hair follicle.
			</p>
			<p>
				Each person responds differently to laser hair removal. Some may require more treatments than others. And sometimes laser hair removal can't eliminate hair completely. If some hair does grow back, it's usually thinner and finer than before the treatment.
			</p>

			<p>
				Our practioners, who are extremely experienced at performing Laser Hair Removal procedures, begin with a melanin test on the area before each treatment to ensure the area is safe to treat. If the melanin in the skin is found to be too high the treatment will be postponed until it is at an accepted limit
			</p>

			<hr />
			<h4>What can I expect before and after treatment?</h4>
			<p>
				<strong>Before Your Treatment</strong>
				<br />
				Laser hair removal kills only the actively growing hairs and hair follicles. For this reason, other hair removal techniques should be stopped at least six weeks before laser treatment. You can still shave and, in fact, you'll be asked to shave your treatment area 24 to 48 hours before your scheduled appointment. Because laser hair removal depends on the colour of your skin and hair, you should not sun tan for a minimum of six weeks before your treatment.
			</p>

			<p>
				<strong>After Your Treatment</strong>
				<br />
				There may be some redness or bumps immediately after the treatment, but nothing that will keep you from your daily activities. Some people apply a temporary icepack on their treatment area. You don't need time to recover after your session, so you can participate in almost all of your regular activities immediately after your appointment. You should, however, avoid exposure to the sun for the following four to six weeks. The initial treatment may kill between 20 to 40 % of the hair. After four treatments, you can expect 80 % hairs destroyed. Few subsequent treatments will give you freed from more than 90 % of hair.
			</p>

			<hr />
			<h4>What should I look for in a laser practitioner?</h4>
			<p>
				The treatment should be performed by a registered nurse (RNs) or physician who's trained to operate a laser. Different treatment choices must be made for each patient. Side effects, such as skin discoloration, can result if the laser is operated by an inexperienced practitioner. We, at Dr Kiran's Dermatology, provide only laser trained RNs or physicians to deliver high-quality care to our patients.
			</p>
			<hr />
			<h4>Are there any risks?</h4>
			<p>
				Laser hair removal is a reasonably safe procedure, Some people may experience redness, swelling, bruising, blistering, or superficial skin erosions that are temporary and heal
				with time.
			</p>
			<hr />
			<h4>When will I see the results?</h4>
			<p>
				Usually results are visible after your first treatment. However long lasting may be noticeable only after achieving six to eight treatments.
			</p>
			<hr />
			<h4>How many treatments will I need? </h4>
			<p>
				The number of treatments required will depend on the area being treated and also the skin colour, hair colour, texture and density. Secondly, patient's response to treatment is also a deciding factor.
			</p>

		</div>
	</div>
	<script>
		$('#hair_reduction_container1 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>

</div>