<% provide(:title, 'Hair Fall Treatment') %>
<div class="hero-unit">

	<div class="insetBgd hairfall_banner">
		<h1 class="insetType inset_top">Look Beautiful</h1>
		<h1 class="insetType inset_bottom">At Any Age</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Hair Fall Treatment</h4>
		<p>
			For both males and females, hair loss is a source of stress, dejection and psychological worries. Since the early days people belonging to different age groups had to endure social embarrassment due to this problem. You may ask what is the cause of hair loss, you will get the answer that, there are various reasons for this condition. Let us review the most common circumstances that cause them.
		</p>
		<p>
			While talking about baldness, usually the most often types of hair loss like male/female pattern baldness and alopecia areata come to our mind. Besides these there can be various other reasons and common people may not be aware of these.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/hair_fall_1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/hair_fall_2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/hair_fall_3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">

	<h4>There are number of other causes that can result in various forms of alopecia:</h4>
	<p>
		<strong>Hormonal problems</strong>
		<br />
		If there is a hormonal disparity in the body then you tend to lose hair. The most common cause is male/female pattern baldness, also called Androgenic Alopecia You can easily get rid of this imbalance by proper injection of hormones, thereby curing your hair loss problems.
	</p>

	<p>
		<strong>Pregnancy</strong>
		<br />
		The mother's stress, during the pregnancy and after the delivery of the baby, may result in temporary alopecia. On the average we shed about 50 to 100 hairs per day, and it is normal, but when the woman is pregnant, her normal shedding is put on hold, and then within three months the hair begins shedding quickly But you don't need to panic in such a condition as it is temporary and you will experience re-growth of hair after a few months.
	</p>

	<p>
		<strong>Hair care Treatments and Styling</strong>
		<br />
		Apart from the physical factors, you may also experience hair loss due to styling your hair in an improper fashion. Frequent hair care treatments and
		styling gives tension to the scalp; do not tie your hair tightly as it will become damaged.
	</p>

	<p>
		<strong>Medications</strong>
		<br />
		For both males and females several medications like anticoagulants, vincrysticin or onchocryticin (Cancer medication), medicines used for gout,
		birth control pills, antidepressants and excessive intake of Vitamin A, Sulpha drugs may cause hair loss as well.
	</p>

	<p>
		<strong>Diseases and Illnesses</strong>
		<br />
		Lupus, high fever, diabetes, severe infection, or flu are some of the underlying diseases and illnesses that may result in increased hair shedding.
		This is usually a temporary condition, and the normal cycle of hair re growth follows after some time.
	</p>

	<p>
		<strong>Inadequate Diet</strong>
		<br />
		Poor nutrition is another factor that leads to baldness, due to lack of protein, minerals and vitamins of group B. To rectify this
		situation,
		a proper nutritious diet should be followed with a professional dietician.
	</p>
	<p>
		<strong>Skin problem</strong>
		<br />
		Ringworm of the scalp can cause permanent hair loss, and those who often visit beauty salons or barber shops can contact with this fungal
		infection, which spreads from one person to another. Other skin disease lichen planus, psoriasis etc . lead to hair loss.

	<p>
		On the average we shed about 50 to 100 hairs per day, and it is normal, but when the woman is pregnant, her normal shedding is put on hold,
		and then within three months the hair begins shedding quickly. Ringworm of the scalp can cause permanent hair loss, and those who often visit
		beauty salons or barber shops can contact with this fungal infection, which spreads from one person to another. For most teens the problem of
		hair loss is temporary, and in most cases they experience it from a diseases or not eating well. Thyroid disease, teen medications, and skin
		disease are a few reasons for hair loss in teens. The most common cause is male/female pattern baldness, also called Androgenic Alopecia
	</p>

	<p>
		Baldness happens when follicles stop promoting hair growth, and anyone can experience it on the scalp, eyebrows, eyelashes, or on the whole  body known as alopecia  Totalis.
	</p>
	<p>
		If a man has genetic baldness it not necessarily caused because of hair loss, in most cases it is caused by the body not being able to produce
		new hair growth. The symptoms of male pattern baldness is a receding hairline, thinning around the crown, and bald spots. Because of
		hereditary genes, males who produce testosterones are most likely to experience genetic baldness.
	</p>

	<h3>PREVENTION OF HAIR LOSS</h3>
	<p>
		Pursuant to the above facts, it is very important and necessary that you detect the root cause of your hair loss at an early stage. Once it is detected, it will become
		more easy to treat your condition. Always remember that prevention is better than cure
	</p>

	<ul>
		<li>
			If you want to prevent hair loss, avoid excessive or chronic stress. If you cannot remove your sources of stress, learn to release the
			stress and excessive emotions, learn to relax. Don't let the emotional to go overboard or build up in your body.
		</li>
		<li>
			Prevention also requires that you avoid the causes of excessive physical stress, such as "crash diets" for rapid weight loss.
		</li>
		<li>
			Next an important step, especially if you are a man, is to quit smoking.
		</li>
		<li>
			If you suspect any health problems, especially related with hormones, like a thyroid disease, don't postpone the treatment, as such health
			conditions can bring hair loss.
		</li>
		<li>
			If you take any medications, observe carefully if they induce any hair loss. If they do, to prevent further problems, talk to your physician about possible more hair
			friendly replacement of your current medication.
		</li>
		<li>
			If you care about hair loss preventing it is important to eat healthy. Bring your follicles the balanced nutrition, with enough
			proteins, carbohydrates, essential fatty acids, vitamin, and minerals to support healthy hair growth.
		</li>
		<li>
			Make sure you receive enough iron to avoid symptoms causing anemia. Avoid overdose of vitamin A.
		</li>
		<li>
			Resume your work activities and after a week.
		</li>
		<li>
			Another hair loss prevention tips, which are probably more relevant for a woman than a man, is avoiding hair care methods with excessive
			puling and tension, like tight rollers, ponytails and cornrows. You can develop a hair loss condition known as traction alopecia. If hair pulling
			continues long enough it can also cause scarring of the scalp, which can cause permanent baldness.
		</li>
	</ul>

	<h3>HAIR FALL TREATMENT</h3>
	<p>
		Treatment of hair loss requires a comprehensive approach.
	</p>
	<p>
		We first diagnose the type of alopecia/ hair loss/ baldness & the cause of it. May ask for common blood test to rule out hormonal imbalance and any infection. After explaining everything to the patient in detail, we take pictures of the scalp condition as a baseline record, so as you can see the improvement.
	</p>

	<p>
		Only relevant medications are started depending upon the condition. These include some lotions to apply or some tablets to eat or sometimes both. We also use dermaroller technique & mesotherapy to enhance penetration of medicines & efficacy of treatment.
	</p>
	<h3>MESOHAIR</h3>
	<p>
		A variety of hairfall treatments are available at present. The latest and the most effective treatment  is mesohair consists of giving a mixture of stem cells serums and various growth factors in the scalp. This leads to increased vascularity of the scalp and rejuvenation of the hair roots. The roots which are in the resting phase (Telogen) get pushed into the active growing phase (Anagen), leading to a fuller and thicker look. The hair also become stronger and the hairfall rate decreases considerably.
	</p>
	<h3>LASER COMB</h3>
	<p>
		Laser comb is approved by the FDA for the promotion of hair growth .The hair laser comb is a low level laser medical device designed to treat hair fall and alopecia via the science of photobio stimulation.
	</p>

</div>