<div class="hero-unit">

	<div class="insetBgd hair_reduction_banner">
		<h1 class="insetType inset_top">Look Beautiful</h1>
		<h1 class="insetType inset_bottom">At Any Age</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Hair Transplant</h4>
		<p>
			Hair transplantation is a surgical technique that involves moving skin containing hair follicles from one part of the body (the donor site) to bald or balding parts (the recipient site). It is primarily used to treat male pattern baldness, whereby grafts containing hair follicles that are genetically resistant to balding are transplanted to bald scalp. However, it is also used to restore eyelashes, eyebrows, and beard hair, and to fill in scars caused by accidents and surgery such as face-lifts and previous hair transplants.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span4"> <img alt="acne1" src="/assets/hair_reduction_1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/hair_reduction_2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/hair_reduction_3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<p>
		The first step to getting a hair transplant is education. It starts with knowing what hair transplantation is, and understanding the various techniques and procedures so as to determine the right treatment for you. our experts therefore take you through the treatment and technology options available to you. 
	</p>

	<div id="hair_transplant_container1">
		<a class="btn btn-normal btn-primary" href='javascript:;'>Hair Transplant FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>What is the cause of baldness?</h4>
												<p>It is known that the male hormone, testosterone, gets converted to another male hormone, 5-dihydroxytestosterone (5-DHT), in the hair follicles. Under the influence of 5-DHT hair follicles in the front and the top of the scalp begin to become more fine over the years in genetically susceptible men. Hair growth also gets restricted and eventually the hair disappears completely. There are different stages of baldnes</p>
                                             <hr />
                                             
                                             <h4>Stage 1</h4>
											<p>The first signs of trouble appear when frontal recession begins to appear in the hairline</p>
                                           
                                           <h4>Stage 2</h4>
                                           <p>Recession starts to become noticeable as hairline pushes back even further</p>
                                           
                                           <h4>Stage 3</h4>
                                           <p>With recession, hair gradually begins to thin on the crown. This thinning becomes visible and continues to increase in size rapidly</p>
                                           
                                           <h4>Stage 4</h4>
                                           <p>Male pattern baldness is complete when the crown and frontal region are completely devoid of hair and the horse shoe shape becomes visible.</p>



                                             
<hr />
<h4>Only Men Suffer from Baldness – It's a Myth!</h4>
<p>While it is assumed that only men suffer from hair loss and baldness, millions of women all across the world suffer from this condition. In fact the numbers are rising at a rate of over 30%. Hair loss in women can cause a great deal of anxiety because of the social stigma associated with it. As hair loss in women differ from the classic male pattern baldness, our experts therefore provide female patients with the most natural and comprehensive solutions, with sensitivity and care.</p>


<hr />
<h4>Hair Transplant – What is it?</h4>
<p>Hair transplantation is a walk in-walk out surgical technique that involves moving individual hair follicles from one part of the body (the donor site) to bald or balding parts (the recipient site). It is primarily used to treat male pattern baldness.</p>

<p>The procedure only deals with the surface layers of the skin: the epidermis and dermis. The first two layers of the skin contain the hair follicles (roots). The removal and transplanting of hair is a straightforward minor surgical procedure carried out under local anesthesia. It only takes a few hours but the complex part of hair transplantation is the artistry required by the hair transplant surgeon who determines the shape of the hairline and the overall hair direction.</p>

<hr />
<h4>Hair Transplant – Our Solutions</h4>
<p><strong>Single follicular unit (FUHT Method)- </strong>This procedure is the most effective & cosmetically acceptable method. We take a strip of hairs from the patient's back area of the scalp. After the removal of that strip from the scalp, single follicular units are dissected & under local anesthesia these hairs are implanted in the recipient . A scar is left behind in the form of a fine thin line at the graft site, which is hardly visible. The implanted hairs fall within 3 months but then start growing, full regrowth takes around 8-10 months. These hairs are permanent & grow forever. Natural looking hairline can be achieved by this method. This procedure is best for average to extreme balding cases since it allows several grafts to be transplanted in a single session</p>


<p><strong>Follicular Unit Extraction (FUE)/Stitch less surgery- </strong>In FUE, instead of a strip, single units are extracted either from the scalp or beard or other body parts with very fine micro punches. Suturing is not required in this case..The punches are so fine that the healing is very fast & without any scarring. </p>
<hr />
<h4>Eyebrow Reconstruction</h4>
<p>Plucking, aloepacia, burning or injury are some of the many reasons which might be responsible for scanty or sparse eyebrows. Hair from the nape/lower neck are transplanted as their texture and density matches regular eyebrow hairs.</p>


		</div>
	</div>
	<script>
		$('#hair_transplant_container1 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>

</div>