<br />
<table>
	<tr>
		<td>
		<ul class="accordion" id="accordion">
			<li class="bg1">
				<div class="bgImage bg_color1"></div>
				<div class="heading">
					Skin
					<br/>
					Rejuvenation
				</div>

				<div class="bgDescription"></div>
				<div class="description">
					<h2>Skin Rejuvenation</h2>
					<p>
						Offering; Acne treatment, Peeling, Stretch Marks,
						<br/>
						Scar revision, Skin Imperfection
					</p>
					<a href="#">more &rarr;</a>
				</div>
			</li>
			<li class="bg2">
				<div class="bgImage bg_color2"></div>
				<div class="heading">
					Hair
					<br/>
					Reduction
				</div>
				<div class="bgDescription"></div>
				<div class="description">
					<h2>Hair Reduction</h2>
					<p>
						This noninvasive laser treatment uses gentle
						<br/>
						beams of light to get rid of hair.
					</p>
					<a href="#">more &rarr;</a>
				</div>

			</li>
			<li class="bg3">
				<div class="bgImage bg_color3"></div>
				<div class="heading">
					Vitiligo
					<br/>
					&nbsp;
				</div>
				<div class="bgDescription"></div>
				<div class="description">
					<h2>Vitiligo</h2>
					<p>
						Our advanced Vitiligo treatment with UVB
						<br/>
						technology uses a carefully.
					</p>
					<a href="#">more &rarr;</a>
				</div>

			</li>
			<li class="bg4 bleft">
				<div class="bgImage bg_color4"></div>
				<div class="heading">
					Anti Aging
					<br/>
					&nbsp;
				</div>
				<div class="bgDescription"></div>
				<div class="description">
					<h2>Anti Aging</h2>
					<p>
						The clock is ticking and as we age our skin
						<br/>
						appears dull.
					</p>
					<a href="#">more &rarr;</a>
				</div>

			</li>
			<li class="bg5 bleft">
				<div class="bgImage bg_color5"></div>
				<div class="heading">
					Body
					<br/>
					Shaping
				</div>
				<div class="bgDescription"></div>
				<div class="description">
					<h2>Body Shaping</h2>
					<p>
						Loose sagging skin just does not look good and</br/> gets in the way of normal activities or movement.
					</p>
					<a href="#">more &rarr;</a>
				</div>

			</li>
		</ul></td>
	</tr>
</table>

<br />

<br />
<br />

<div class="row-fluid">

	<div class="span7">
		<h3>Serving all your SKINCARE needs</h3>
		<p>
			A clear glowing complexion with a radiant, healthy skin is what we all aspire for, but more often than not there are road blocks. Besides aging, stress,hormonal changes, there are several impediments under the sun that take a toll on your personal tapestry – the skin.
		</p>
		<span class="span5"> <img alt="Img_home1" src="/assets/img_home1.jpg"> </span>
		<span class="span1"></span>
		<span class="span5"> <img alt="Img_home2" src="/assets/img_home2.jpg"> </span>
		<p>
			When it comes to advanced beauty, think a little deeper. Today beauty has been redefined and it is time to acquaint yourself with cosmetic surgery procedures that will help you attain your cosmetic goals.
		</p>
	</div>
	<div class="span1">
		<!--Sidebar content-->
		<br>
		<div class="fb-like-box" data-href="https://www.facebook.com/kiranderma?ref=ts&amp;fref=ts" data-width="365" data-height="400" data-show-faces="true" data-stream="true" data-border-color="#5c5c9e" data-header="true"></div>
	</div>
	<br />

</div>
<hr/>
<br />
<br />

<script type="text/javascript">
	$(function() {
		$('.bgDescription').css({ 'opacity' : 0.65 });

		$('#accordion > li').hover(function() {
			var $this = $(this);
			$this.stop().animate({
				'width' : '480px'
			}, 450);

			$('.bgImage', $this).stop(true, true).fadeIn(2100);
			$('.heading', $this).stop(true, true).fadeOut(400);
			$('.bgDescription', $this).stop(true, true).slideDown(500);
			$('.description', $this).stop(true, true).fadeIn();

			$this.siblings().stop().animate({
				'width' : '95px'
			}, 450);
		}, function() {
			var $this = $(this);
			$this.stop().animate({
				'width' : '175px'
			}, 450);

			$('.bgImage', $this).stop(true, true).fadeOut(100);
			$('.description', $this).stop(true, true).fadeOut(500);
			$('.bgDescription', $this).stop(true, true).slideUp(700);
			$('.heading', $this).stop(true, true).fadeIn(700);

			$this.siblings().stop().animate({
				'width' : '175px'
			}, 450);

		});
	}); 
</script>

