<br />
<table>
	<tr>
		<td>
			<ul class="accordion" id="accordion">
			    <li class="bg1">
			        <div class="bgImage bg_color1"></div>
			        <div class="heading">Skin<br/>Rejuvenation</div>
			        
			        <div class="bgDescription"></div>
			        <div class="description">
			            <h2>Skin Rejuvenation</h2>
			            <p>Offering; Acne treatment, Peeling, Stretch Marks,
		            	<br/>Scar revision, Skin Imperfection</p>
			            <a href="#">more &rarr;</a>
			        </div>
			    </li>
			    <li class="bg2">
			        <div class="bgImage bg_color2"></div>
			        <div class="heading">Hair<br/>Reduction</div>
			        <div class="bgDescription"></div>
			        <div class="description">
			            <h2>Hair<br/>Reduction</h2>
			            <p>This noninvasive laser treatment uses gentle <br/>beams of light to get rid of hair.
						</p>
			            <a href="#">more &rarr;</a>
			        </div>
			
			    </li>
			    <li class="bg3">
			        <div class="bgImage bg_color3"></div>
			        <div class="heading">Vitiligo<br/>&nbsp;</div>
			        <div class="bgDescription"></div>
			        <div class="description">
			            <h2>Vitiligo</h2>
			            <p>Our advanced Vitiligo treatment with UVB<br/>technology uses a carefully.
		            	</p>
			            <a href="#">more &rarr;</a>
			        </div>
			
			    </li>
			    <li class="bg4 bleft">
			    	<div class="bgImage bg_color4"></div>
			        <div class="heading">Anti Aging<br/>&nbsp;</div>
			        <div class="bgDescription"></div>
			        <div class="description">
			            <h2>Anti Aging</h2>
			            <p>The clock is ticking and as we age our skin<br/>appears dull.</p>
			            <a href="#">more &rarr;</a>
			        </div>
			
			    </li>
			    <li class="bg5 bleft">
			    	<div class="bgImage bg_color5"></div>
			        <div class="heading">Body<br/>Shaping</div>
			        <div class="bgDescription"></div>
			        <div class="description">
			            <h2>Body<br/>Shaping</h2>
			            <p>Loose sagging skin just does not look good and</br/> gets in the way of normal activities or movement.
		            	</p>
			            <a href="#">more &rarr;</a>
			        </div>
			
			    </li>
			</ul>
		</td>
	</tr>
</table>

<br />
<br />
<br />
<br />

<div class="center hero-unit">
	<!--h1>Welcome to Kiran Dermasurge</h1>
	
	<h2>
		This is the home page for
		<a href="http://railstutorial.org/">Kiran Dermasurge</a>
	</h2-->
	
  	
</div>

<br />
<br />


<div id="scrollbox">
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, <br />
  sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <br />
  no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
  <p style="white-space: nowrap;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
  <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>


<script type="text/javascript">
	$(function() {
		//$('.bgDescription').css({ 'opacity' : 0.5 });
		
	    $('#accordion > li').hover(
	        function () {
	            var $this = $(this);
	            $this.stop().animate({'width':'340px'},450);
	            
	            $('.bgImage',$this).stop(true,true).fadeIn(500);
	            $('.heading',$this).stop(true,true).fadeOut(500);
	            $('.bgDescription',$this).stop(true,true).slideDown(500);
	            $('.description',$this).stop(true,true).fadeIn();
	            
	            $this.siblings().stop().animate({'width':'130px'},450);
	        },
	        function () {
	            var $this = $(this);
	            $this.stop().animate({'width':'170px'},450);
	            
	            $('.bgImage',$this).stop(true,true).fadeOut(100);
	            $('.description',$this).stop(true,true).fadeOut(500);
	            $('.bgDescription',$this).stop(true,true).slideUp(700);
	            $('.heading',$this).stop(true,true).fadeIn(700);
	            
	            $this.siblings().stop().animate({'width':'170px'},450);
	            
	        }
	    );
	});
</script>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>