<% provide(:title, 'Laser Resurfacing') %>
<div class="hero-unit">

	<div class="insetBgd laser_banner"></div>
	<div style="text-align: justify;">
		<h3>Laser Resurfacing</h3>
		<p>
			Aging is usually defined in terms of the gradual, insidious and progressive decline in structure and function (including molecular, cells, tissues, organs) of an organism / individual.
		</p>
		<p>
			With the advancement of modern medicine and technology the life expectancy of individuals are increasing (increasing the "old olds") and on the other end, due to various modifiable / non-modifiable , environmental / genetic / life style and other factors , people are showing early signs of aging affecting the daily living and productivity adversely (increasing the "old young").
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/lasertreat1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/lasertreat2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/lasertreat3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<p>
		There are many cosmetic antidotes that claim to improve the appearance of fine lines and wrinkles — drugstores have shelves of them on
		display. Now that medical technology in this field is gaining more attention, consumers have started giving up on "lotions and potions,"
		seeking scientifically proven methods of bringing out the beauty within.
	</p>

	<h3>Laser Skin Resurfacing</h3>
	<p>
		The goal of laser skin resurfacing is simple: replace damaged skin with new, fresh skin. It Improves  Tone and Texture of skin in a
		Single Treatment.
	</p>
	<p>
		The gold standard of laser resurfacing systems, the UltraPulse® CO2 laser delivers thousands of tiny laser pulses in a pattern over the skin. Each pulse heats a column of tissue eliminating pigment discolorations at the surface and creating a zone of heating deep in the tissue. Unique to the UltraPulse Encore, these zones of heating shrink collagen immediately*.
		The CO2 laser also offers the benefits of heating deeper layers of skin tissue, thereby stimulating collagen remodeling the skin further.
	</p>

	<strong>The primary targets of laser skin resurfacing include:</strong>
	<ul class="benifits">
		<li>
			Fine lines and wrinkles of the face, especially around the upper lip, cheeks and forehead
		</li>
		<li>
			Loose eyelid skin
		</li>
		<li>
			Crow's feet around the eyes
		</li>
		<li>
			Pucker marks (smoker's lines) and frown lines
		</li>
		<li>
			Brown spots and splotchy, uneven skin tone
		</li>
		<li>
			Scars, especially acne scars
		</li>
		<li>
			Loose skin around the neck and jowls
		</li>
	</ul>

	<div id="laser_reface_container1">
		<a class="btn btn-normal btn-primary" href='javascript:;'>Skin Resurfacing FAQ's</a>
		<div class='content' style='display: none;'>
			<h4>How does Ultrapulse skin resurfacing work?</h4>
			<p>
				The UltraPulse Encore is a CO2 laser designed to offer the versatility of both deep and light - minimal downtime, skin resurfacing.  The wavelength of light emitted by a CO2 laser is very well absorbed by water in the skin.  "Ultrapulses" of the laser vaporize lines, wrinkles, scars, dark spots and other irregularities, layer by layer. This process also stimulates the formation over time of new, underlying collagen to provide better elasticity and support for the skin.
			</p>

			<hr />
			<h4>Are laser resurfacing treatments safe?</h4>

			<p>
				Lasers have been used in cosmetic surgery for more than 20 years and have been proven to provide safe, predictable and effective results when used by trained physicians on appropriately selected patients. Alternative treatments, such as deep chemical peels and dermabrasion, have largely been replaced by laser procedures due to the precision and uniformity that laser resurfacing provides.
			</p>
			<hr />

			<h4>What recovery time is needed for facial resurfacing?</h4>
			<p>
				With moderate to deep resurfacing, the skin goes through an initial healing period, which includes crusting that typically lasts seven to ten days. At this point, most patients return to normal activities and makeup may be applied. The fresh, new skin will be reddish pink, a good sign that healing is taking place and that blood is nourishing the growth of new skin cells. This redness gradually fades within four to twelve weeks depending on skin type and depth of laser treatment. Lightly resurfaced patients can typically return to normal activities within four to five days, and redness disappears within three to five weeks. Of course, adhering to physician's instructions for post-operative care will aid in the healing process.
			</p>

			<hr />

			<h4>What results can my patients expect, and how long will the benefits of treatment last?</h4>
			<p>
				Laser resurfacing can restore your patient's skin to a healthy state, similar to that of skin that has not experienced sun damage or scarring. With proper sun protection, results can persist for more than five years. In areas where muscle activity is strong, lines may begin to reappear sooner.. As skin continues to age at a normal rate, you may advise your patient to maintain results with a 'touch-up' resurfacing treatment. In any event, with cosmetic laser treatment you will  definitively 'turned back the clock.
			</p>

			<hr />
		</div>
	</div>
	<script>
		$('#laser_reface_container1 a').click(function(e) {
			//Close all <div> but the <div> right after the clicked <a>
			//$(e.target).next('div').siblings('div').slideUp();
			//Toggle open/close on the <div> after the <a>, opening it if not open.
			$(e.target).next('div').slideToggle();
		});
	</script>

	<br />

	<h3>Laser Skin Rejuvenation: intense pulse light</h3>
	<p>
		The gentle, non-ablative treatments use broad spectrum light to treat the face, chest, neck and hands—virtually anywhere that sun damage shows.  By helping to remove the age spots (sun-induced freckles) and broken capillaries, fine lines and wrinkles, decrease pore size,  photoaged skin, the result is overall more even, luminous, younger looking skin.
	</p>
	
</div>

<div id="laser_reface_container2">
	<a class="btn btn-normal btn-primary" href='javascript:;'>Skin Rejuvenation FAQ's</a>
	<div class='content' style='display: none;'>
		<h4>What is IPL treatment like?</h4>

		<p>
			A cold gel is applied to the treatment area, and patients are given protective eyewear.  During treatment, the smooth glass surface of the IPL hand piece is gently applied to the skin, and precise pulses of light penetrate the area being treated.  The pain level is very minimal and can be further reduced by application of a topical anesthetic and/or cold air.  Most patients experience a small stinging sensation.  Procedures last about 10-20 minutes, and a complete program usually includes 2-6 sessions at approximately 3-4-week intervals.
		</p>
		<hr />

		<h4>Who is an IPL candidate?</h4>
		<p>
			Any man or woman showing signs of skin damage caused by aging, sun exposure or other environmental factors.
		</p>

		<hr />

		<h4>What are the advantages of IPL for age spot treatment? </h4>
		<p>
			IPL is gentle and safe, and it effectively treats multiple symptoms and locations in each session.  It is an in-office procedure, and virtually no down time is required.  IPL is a remarkably quick way to rejuvenate your complexion by removing the spots,  fine lines, discolorations and unwanted pigment that affect appearance.  Additionally, IPL can be customized to individual skin types and conditions.
		</p>

		<hr />
	</div>
</div>
<script>
	$('#laser_reface_container2 a').click(function(e) {
		//Close all <div> but the <div> right after the clicked <a>
		//$(e.target).next('div').siblings('div').slideUp();
		//Toggle open/close on the <div> after the <a>, opening it if not open.
		$(e.target).next('div').slideToggle();
	}); 
</script>
</div>