<div class="hero-unit">

	<div class="insetBgd mesotherapy_banner">
		<h1 class="insetType inset_top">Look Beautiful</h1>
		<h1 class="insetType inset_bottom">At Any Age</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Mesotherapy</h4>
		<p>
			This medical specialty targets problem areas with microinjections of conventional or homeopathic medicines, vitamins, minerals and amino acids. Tiny "medicinal bullets" are delivered directly into the mesoderm (middle layer of skin) that are highly specific to the condition being treated.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/mesotherapy_1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/mesotherapy_2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/mesotherapy_3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<p> Mesotherapy can be used for following:</p>
     <ul>
    <li>Eliminate Cellulite</li>
    <li>Promote Weight Loss</li>
    <li>Anti Aging Benefits</li>
    <li>Eliminate localized fat</li>
    </ul>
</div>