<% provide(:title, 'Microdermabrasion') %>
<div class="hero-unit">

	<div class="insetBgd microderma_banner">
		<h1 class="insetType inset_top">Helping you discover beautiful,</h1>
		<h1 class="insetType inset_bottom">healthy and youthful skin</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Microdermabrasion</h4>
		<p>
			Microdermabrasion, also known as microderm, is one of the easiest and most effective anti-aging treatments you can get. Its benefits are many: microderm softens fine lines and wrinkles, helps to smooth coarsely textured skin, decreases the appearance of scarring, decreases pore size, and reduces superficial hyper-pigmentation, also known as age spots.
		</p>
		<p>
			Microdermabrasion also makes it easier for high-tech skin care products to penetrate into the deeper layers of the skin and help build collagen, which gives skin its youthful appearance.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/dermabrasion1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/dermabrasion2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/dermabrasion3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">

	<h3>The Changing Technology of Microdermabrasion</h3>
	<p>
		Microdermabrasion is essentially powerful mechanical exfoliation with an expensive machine, generally either the original crystal microdermabrasion technology or the newer diamond-tip microdermabrasion.
	</p>
	<p>
		Both work by removing the uppermost layer of dead skin cells from the face, chest and hands. It gives results you can't achieve with a home microdermabrasion kit, which is basically a scrub for the face that is often too abrasive and can even irritate skin.
	</p>

	<p>
		The original microdermabrasion technology, which has been around since the'80s, is called crystal microdermabrasion. It uses a wand to both spray and vacuum up aluminum oxide crystals, also known as corundum, the second hardest mineral after diamonds.
	</p>
	<p>
		Growing in popularity is the newer diamond-tip microdermabrasion. It achieves the same results but with less discomfort and without the crystal residue at the end of the treatment. It is mainly used to treat superficial acne scars.
	</p>

</div>