<div class="hero-unit">

	<div class="insetBgd moles_banner"></div>
	<div style="text-align: justify;">
		<h4>Moles Wart Removal</h4>
		<p>

			These are removed by either by radio frequency ablation, fractional co2 laser or surgical removal depending on the site and size. Doctor will assess the lesions and then offer you the modality of treatment best suited for the lesion.

		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span4"> <img alt="acne1" src="/assets/wart1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/wart2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/wart3.jpg"> </span>
	</div>

</div>