<div class="insetBgd our_doctors_banner">
	<h1 class="insetType inset_top">Treatments</h1>
	<h1 class="insetType inset_bottom">you can trust</h1>
</div>

<div class="row">

	<span class="span6">
		<div class="box effect8">
			<h3>Dr. Kiran Dhar</h3>
			
			<section id="topBlock">
				
				<section class="doctor_pic">
					
					<%= image_tag("doctors/doct_kiran.jpg", alt: "Rails", border: "0") %>
				</section>
				
				<section>
					asdaskldj aslkdjaslkjdl aksdjla skjd dsalkdj alsd askdjasldj
				</section>
			</section>
		</div> </span>

	<span class="span6">
		<div class="box effect8">
			<h3>Dr. Kiran Dhar</h3>
		</div> </span>

	
</div>
