<div class="hero-unit">

	<div class="insetBgd nose_treatment_banner"></div>

	<div style="text-align: justify;">
		<h4>Nose Shape</h4>
		<p>

			Most of the skin problems emanate from the accumulation of dead skin cells that not only clogs the pores but makes the overall appearance of the skin thick and dull. Add to this a bundle of skin conditions stemming from sun damage, acne and related scars, blotchiness, irregular pigmentation, emerging of fine lines and wrinkles, leathery skin and similar problems.
		</p>
		<p>
			Chemical peel which rescues the skin by helping it peel off the upper dead layer and rejuvenating the skin from within. In a nutshell, it turns back the clock to a more youthful and beautiful you !! Peeling is a revolutionary procedure that improves the appearance and condition of the skin by making it smooth, healthier and firm. It works on the principle of skin heal by making new epidermis and shrinking the dermis.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/peels1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/peels2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/peels3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">

	<p>
		Peeling creates a smooth and controlled shedding of several layers of skin cells by enabling the new layers to be exposed. It is effective for use by men and women of any skin type, age or colour.
	</p>

	<h3>Peeling Procedure </h3>

	<p>
		Peeling has proven to be a very popular nonsurgical cosmetic procedure. Also called chemexfoliation or derma peeling, it is one of the least invasive ways to improve the texture and gloss of your skin. Chemical peels are mostly used on the face, but it can be used to improve the skin on your neck and hands. It begins with the cleaning of the skin with acetone, followed by the application of a solution to the area marked for treatment. This concludes with water wash to neutralize the chemical. Soon a coat of moisturiser and suncreen is applied to the skin.
	</p>

	<p>
		The peel is almost painless procedure. However, a minor burning sensation or discomfort may be experienced by few. Following a procedure, there may be flaking of skin for few days. When healing is complete you wiil get youthful glowing skin.
	</p>

	<h3>Benefits</h3>

	<ul>
		<li>
			Dramatic improvement in skin and may be apparent for several months following the procedure.
		</li>
		<li>
			Smoothes the dry, dull and rough skin. Dead skin cells are replaced by healthy ones and this improves the general skin appearance.
		</li>
		<li>
			Reduces sun damage and reverses and removes photo aged skin layers and thus decreases the chance of future skin cancer.
		</li>
		<li>
			Lightens and removes age spots, dark spots and blotches from the skin.
		</li>
		<li>
			Removes and reduces dark acne scars, blackheads, blemishes and blotches.
		</li>
		<li>
			Opens the blocked pores and reduces the size and look of the large pores.
		</li>
		<li>
			Removes the fine lines and wrinkles.
		</li>
		<li>
			There are a good many variants. The wide range of skin peels can be customised to treat specific skin conditions and types.
		</li>
	</ul>

</div>