<div class="hero-unit">

	<div class="insetBgd pfacial_banner">
		<h1 class="insetType inset_top">Helping the beauty of skin,</h1>
		<h1 class="insetType inset_bottom">Restore.</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Photo Facial</h4>
		<p>

			Intense Pulsed Light™ (IPL) is a breakthrough age spot treatment that can address numerous skin conditions, without injuring the skin's surface. IPL offers a gentle, long-lasting solution for visible signs of skin damage that affect the way you look. It also combines dramatic improvement with virtually no down time. You'll walk out of the doctor's office and into the rest of your life without the wounds, redness, or swelling associated with surgery.

		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span4"> <img alt="acne1" src="/assets/photo_facial1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/photo_facial2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/photo_facial3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">

	<p>
		A PhotoFacial Treatment is a series of full face, gentle pulsed light treatments intended to improve the appearance of sun damaged and aged skin, as well as reduce facial and neck redness and flushing. PhotoFacial treatments result in a more youthful-appearing skin. PhotoFacial treatments were developed to consistently and predictably improve the visible appearance of the skin with little or no down time.
	</p>

	<p>
		<strong>Photofacial Treatments can treat the following skin problems :</strong>
	</p>

	<ul class="benifits">
		<li>
			Rosacea, acne
		</li>
		<li>
			Hyper-pigmentation
		</li>
		<li>
			Sun-damaged skin
		</li>
		<li>
			Age spots and freckles
		</li>
		<li>
			Irregularities in skin texture
		</li>
		<li>
			Mild acne scars and large pores
		</li>
		<li>
			Dark circles around the eyes
		</li>
	</ul>

</div>