<div class="hero-unit">

	<div class="insetBgd scar_banner">
		<h1 class="insetType inset_top">Your skin is a portrait</h1>
		<h1 class="insetType inset_bottom">of your internal health</h1>
	</div>

	<div style="text-align: justify;">
		<h4>Scar Revision</h4>
		<p>
			Scars are the inevitable visible signs left behind after the healing of wounds. It results from any trauma, acne, accident or disease. Its development and healing is unpredictable. At times these scars become obvious, unsightly and even disfiguring. It depends on various factors, like location, skin type, person's age and health conditions, etc...
		</p>
		<p>
			With very few expectation most people are self conscious about scars. If you wondered how scar revision could improve your appearance, self confidence any any functional disability, you need to know how scar revision works and what to expect from procedure.
		</p>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="scar1" src="/assets/scar_1.jpg"> </span>
		<span class="span3"> <img alt="scar2" src="/assets/scar_2.jpg"> </span>
		<span class="span3"> <img alt="scar3" src="/assets/scar_3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<p>
		Options may include surgery technique like Z- Plasty, to reposition the scars, steroid injections, laser treatments and dermabrasion.
	</p>
	<p>
		Fractional co2 laser technology is the most promising procedure for acne and surgical scare removal. It is non-invasive, reliable and comes with less risk, lesser pain and minimal downtime.
	</p>
</div>
