<br />
<div id="myCarousel" class="carousel slide">
	<!--ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li class="" data-target="#myCarousel" data-slide-to="1"></li>
		<li class="" data-target="#myCarousel" data-slide-to="2"></li>
	</ol-->
	<div class="carousel-inner">
		<div class="item active">
			<img src="/assets/offers/offer1.jpg" alt="" style="height:500px; width: 940px;">
			<div class="carousel-caption">
				<h4>Summer Offer</h4>
				<p>
					Under Arm Hair Removal for just Rs. 2999 along with a Covermark Sun Block and a Beach Bag Absolutely
					FREE !!
				</p>
			</div>
		</div>
		<div class="item">
			<img src="/assets/offers/offer2.jpg" alt="">
			<div class="carousel-caption">
				<h4>Spring Offer</h4>
				<p>
					Have a Happy Spring with 25% off on all Laser and Anti Aging Treatments, plus get 20% off on Body
					Contouring and Cellulite Treatment.
				</p>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>