<% provide(:title, 'Vitiligo Surgical') %>
<div class="hero-unit">

	<div class="insetBgd vitiligo_banner">
		<h1 class="insetType inset_top">Look Beautiful</h1>
		<h1 class="insetType inset_bottom">At Any Age</h1>
	</div>
	<div style="text-align: justify;">
		<h4>Surgical Therapies</h4>
		<p>
			Surgical therapies can be used for areas of stable vitiligo.The most important factors indicating stability are as follows:
		</p>

		<ul>
			<li>
				No progression of lesions for at least 2 years
			</li>
			<li>
				Spontaneous repigmentation indicates vitiligo inactivity
			</li>
			<li>
				Absence of new koebnerization, including the donor site for the minigrafting test
			</li>
			<li>
				Unilateral vitiligo most stable form of vitiligo
			</li>
			<li>
				A positive minigrafting test disclosing repigmentation at 4-5 minigrafts, which, to date, is the most accurate evidence of vitiligo
				stability.
			</li>
			<li>
				May be an option when light therapy and medicines applied to the skin do not work.
			</li>
		</ul>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span1" >&nbsp;</span>
		<span class="span3"> <img alt="acne1" src="/assets/vitilligo_1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/vitilligo_2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/vitilligo_3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<h4>Surgical therapies include grafts and transplants</h4>
	<ul >
		<li>
			<strong>Suction epidermal grafting:</strong>- Epidermal grafts can be obtained by vacuum suction, usually with 150 mm Hg. The recipient site can be prepared by suction, freezing, or dermabrasion of the sites 24 hours before grafting. The depigmented blister roof is discarded, and the epidermal donor graft is placed on the vitiliginous areas.
		</li>
		<li>
			<strong>Punch minigrafting:</strong>- Small donor grafts are inserted into the incision of recipient sites and held in place by a pressure dressing. The graft heals readily and begins to show repigmentation within 4-6 weeks. Some pebbling persists but is minimal, and the cosmetic result is excellent.
		</li>

		<li>
			<strong>Thin dermoepidermal grafts:</strong>- The depigmented epidermis is removed by superficial dermabrasion, including the papillary dermis, and very thin dermoepidermal sheets harvested with dermatome are grafted onto the denuded skin.
		</li>
	</ul>
	<br />
	<h4>Types of grafting:</h4>
	<ul>
		<li>
			<p>
				<strong>Mini-punch grafting</strong> takes small full-thickness grafts and places them in the depigmented area, with topical PUVA used to stimulate pigmentation. The main downside is a cobblestone effect.
			</p>

			<p>
				<strong>Thin split-thickness grafts</strong> take a thinner slice but are similar to the mini-punch grafting. They require general anesthesia and are often successful for the lips/hands. Scarring may occur in both donor and grafted areas.
			</p>
		</li>

		<li>
			<strong>Transplant therapies </strong> include transplantation of pure melanocytes or melanocytes and keratinocytes together
		</li>

		<li>
			<strong>Noncultured epidermal suspensions:</strong>- After the achromic epidermis is removed, an epidermal suspension with melanocytes and keratinocytes previously prepared by trypsinization of normally pigmented donor skin is spread onto the denuded area and immediately covered with nonadherent dressings. Using noncultured epidermal cellular grafts, 71% of patients in one study achieved more than 75% repigmentation, especially in segmental vitiligo, piebaldism, and halo nevi.
		</li>

		<li>
			<strong>Cultured epidermis with melanocytes or cultured melanocyte suspensions:</strong>- Depigmented skin is removed using liquid nitrogen, superficial dermabrasion, thermosurgery, or carbon dioxide lasers; very thin sheets of cultured epidermis are grafted or suspensions are spread onto the denuded surface.
		</li>
	</ul>
</div>