<div class="hero-unit">

	<div class="insetBgd vitiligo_banner">
		<h1 class="insetType inset_top">Look Beautiful</h1>
		<h1 class="insetType inset_bottom">At Any Age</h1>
	</div>
	<div style="text-align: justify;">
		<p>
			No single therapy for vitiligo produces predictably good results in all patients; the response to therapy is highly variable. Treatment must be individualized. During medical therapy, pigment cells arise and proliferate from the following 3 sources:
		</p>
		<ul>
			<li>
				The pilosebaceous unit, which provides the highest number of cells, migrating from the external root sheath toward the epidermis
			</li>
			<li>
				Spared epidermal melanocytes not affected during depigmentation
			</li>
			<li>
				The border of lesions, migrating up to 2-4 mm from the edge
			</li>
		</ul>
	</div>
	<br />
	<div class="row" align="center">
		<span class="span4"> <img alt="acne1" src="/assets/vitilligo_1.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/vitilligo_2.jpg"> </span>
		<span class="span3"> <img alt="acne1" src="/assets/vitilligo_3.jpg"> </span>
	</div>

</div>

<div style="text-align: justify;">
	<h4>Systemic phototherapy</h4>
	<p>
		Systemic phototherapy induces cosmetically satisfactory repigmentation in up to 70% of patients with early or localized disease.
	</p>
	<p>
		Narrow-band UV-B phototherapy is widely used and produces good clinical results. Narrow-band fluorescent  with an emission spectrum of 310-315 nm and a maximum wavelength of 311 nm are used. Treatment frequency is 2-3 times weekly, but never on consecutive days. This treatment can be safely used in children, pregnant women, and lactating women. Short-term adverse effects include pruritus and xerosis.
	</p>
	<p>
		UV-B narrow-band microphototherapy[26] is therapy targeting the specific small lesions. Selective narrow-band UV-B (311 nm) is used with a fiber optic system to direct radiation to specific areas of skin. Narrow-band UV-B has become the first choice of therapy for adults and children with generalized vitiligo.
	</p>

	<h4>PUVA</h4>
	<p>
		Psoralen photochemotherapy involves the use of psoralens combined with UV-A light. Treatment with 8-methoxypsoralen, 5-methoxypsoralen, and trimethylpsoralen plus UV-A (PUVA) has often been the most practical choice for treatment, especially in patients with skin types IV-VI who have widespread vitiligo. Psoralens can be applied either topically or orally, followed by exposure to artificial UV light or natural sunlight. Vitiligo on the back of the hands and feet is highly resistant to therapy.
	</p>

	<p>
		The best results from PUVA can be obtained on the face, trunk, and proximal parts of the extremities. However, 2-3 treatments per week for many months are required before repigmentation from perifollicular openings merges to produce confluent repigmentation. Repigmentation occurs in a perifollicular pattern.
	</p>

	<p>
		The advantages of narrow-band UV-B over PUVA include shorter treatment times, no drug costs, no adverse GI effects (eg, nausea), and no need for subsequent photoprotection.
	</p>

	<h4>Laser therapy</h4>
	<p>
		Another innovation is therapy with an excimer laser, which produces monochromatic rays at 308 nm to treat limited, stable patches of vitiligo. This new treatment is an efficacious, safe, and well-tolerated treatment for vitiligo when limited to less than 30% of the body surface. However, therapy is expensive. Localized lesions of vitiligo are treated twice weekly for an average of 24-48 sessions.
	</p>
	<h4>Steroid therapy</h4>
	<p>
		Systemic steroids (prednisone) have been used, although prolonged use and their toxicity are undesirable.[30] Steroids have been reported anecdotally to achieve success when given in pulse doses or low doses to minimize adverse effects. The benefits versus the toxicity of this therapy must be weighed carefully.
	</p>

	<p>
		A topical steroid preparation is often chosen first to treat localized vitiligo because it is easy and convenient for both doctors and patients to maintain the treatment. The results of therapy have been reported as moderately successful, particularly in patients with localized vitiligo and/or an inflammatory component to their vitiligo, even if the inflammation is subclinical.
	</p>

	<h4>Topical Immunotherapies</h4>
	<p>
		Topical tacrolimus ointment (0.03% or 0.1%) is an effective alternative therapy for vitiligo, particularly when the disease involves the head and neck. Combination treatment with topical tacrolimus 0.1% plus the 308-nm excimer laser is superior to monotherapy with the 308-nm excimer laser monotherapy for UV-resistant vitiliginous lesions. On the face, narrow-band UV-B works better if combined with pimecrolimus 1% cream rather than used alone.
	</p>

	<p>
		<strong>Vitamin D analogs</strong>, particularly calcipotriol and tacalcitol, have been used as topical therapeutic agents in vitiligo. They target the local immune response and act on specific T-cell activation. They do this by inhibition of the transition of T cells (early to late G1 phase) and inhibition of the expression of various proinflammatory cytokines that encode tumor necrosis factor-alpha and interferon gamma. These vitamin D3 compounds influence melanocyte maturation and differentiation, in addition to up-regulating melanogenesis through pathways that are activated by specific ligand receptors (eg, endothelin receptor and c-kit). The combination of topical calcipotriene and narrow-band UV-B or PUVA results in improvement appreciably better than that achieved with monotherapy.
	</p>

	<p>
		<strong>Topical PUVA</strong> is of benefit in some patients with localized lesions. Cream and solution of 8-methoxypsoralen (0.1-0.3% concentration) are available for this treatment.[6] It is applied 30 minutes prior to UV-A radiation (usually 0.1-0.3 J/cm2 UV-A) exposure. It should be applied once or twice a week. Additional UV-A exposure should be avoided while skin is sensitized because severe burns may occur if patients receive additional UV-A exposure. Sunscreens should be given to all patients with vitiligo to minimize risk of sunburn or repeated solar damage to depigmented skin.
	</p>

	<h4>Depigmentation therapy</h4>
	<p>
		If vitiligo is widespread and attempts at repigmentation do not produce satisfactory results, depigmentation may be attempted in selected patients.
	</p>
	<p>
		A 20% cream of monobenzylether of hydroquinone is applied twice daily for 3-12 months. Burning or itching may occur. Allergic contact dermatitis may be seen.
	</p>

</div>