<% provide(:title, 'Whats New') %>
<div class="insetBgd aesthetics_banner"></div>

<div style="text-align: justify;">

	<h2>What's hot in<span class="text1"> Aesthetics?</span></h2>
	<p>
		Our skin changes over time, losing its youthful look and giving way to brown spots, wrinkles and laxity. In the recent years, there has been a growing
		number of aesthetic procedures available to treat the skin. Out of these, <span class="text3">fractional CO2 lasers</span> provides remarkable, long lasting results with just one treatment.
		It is a fast office based procedure with minimal patient downtime, proving itself as the best single treatment solution for wrinkled sun damaged skin.
	</p><h3>Fractional CO2 lasers is an ideal treatment option if you: </h3>

	<ul>
		<li>
			Have a busy lifestyle or cannot be away from work for a long time
		</li>
		<li>
			Want noticeable results with minimal downtim
		</li>
		<li>
			Want to treat dyschromia, fine lines and wrinkles
		</li>
	</ul>

	<h3>It has two modes:</h3>
	<ul>
		<li>
			<span class="text3">Active Fx </span>which acts on the superficial epidermis and smoothens and resurfaces the skin by peeling of the superficial dead skin.
		</li>
		<li>
			<span class="text3">Deep Fx </span>which acts deeper into the dermis, causes remodeling of collagen and causes an overall contraction
			of the skin giving a younger look.
			In all modes, the laser beam is applied in a fractional pattern, leaving small bridges of untouched skin. This technique makes the healing
			process much faster and enables you to get back to
			normal activities sooner.
		</li>
	</ul>
	</p><h3>Benefits of the treatment: </h3>
	<ul>
		<li>
			Improves acne scars and other scars
		</li>
		<li>
			Dramatic result on skin tone and texture
		</li>
		<li>
			Causes immediate skin tightening
		</li>
		<li>
			Reduces wrinkles, fine lines and softens deep frown lines
		</li>
		<li>
			Stimulates new collagen formation
		</li>
		<li>
			The treatment takes only around 15 minutes for full face with minimal discomfort
		</li>
		<li>
			The results of laser resurfacing are typically long lasting
		</li>
	</ul>
	</p>

	<p>
		Today, everyone wants less wrinkles and more even skin tone. Good results are no longer acceptable, everyone wants great results which is now
		possible with fractional CO2 lasers. Fractional CO2 technology has won tremendous support from clinical specialists all over the world.
	</p>
	<h3>Other implications of this laser</h3>
	<h4>Laser ear piercing:</h4>
	<p>
		painless, no chances of secondary infection and complications as compared to traditional methods
	</p>
	<h4>Removal of surface lesions:</h4>
	<p>
		warts, nevus, seborrheic keratosis, freckles, bowens disease etc.
	</p>

</div>