<div class="container-fluid">

	<h1><%= @page.name %></h1>
	<div class="row-fluid">
		<div class="span10">
			<!--Sidebar content-->
			<%= markdown @page.content %>
		</div>
		<div class="span2">
			<!--Body content-->

		</div>
	</div>

</div>