
/* mixins, variables, etc. */

//$grayMediumLight: #eaeaea;

  
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 160px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  margin: 1em 0 0.75em;
  padding: 0 0 5px 0;
  color: #6B5344;
  font-weight: normal;
  font-family: 'Scada', sans-serif;
  position: relative;
  text-shadow: 0 2px 0 rgba(255,255,255,0.5);
  font-size: 24px;
  line-height: 40px; 
}

h4 {
  margin-bottom: 1px;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  font-weight: bold;
  line-height: 1;
  background-color: #fff;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.footer_logo img{
  
  width: 25px;
  height: 25px;
}



/* footer */

footer {
  margin-top: 10px;
  padding-top: 5px;
  
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
    font-size: 0.8em;
    padding-top: 5px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* modal */
.modal.large{
    width: 780px;
    margin-left: -390px; /* - width/2 */
}

/* Banner Effects*/
div.insetBgd {
 width: 100%;
 height: 200px;
 background: -moz-linear-gradient(-90deg, #003471, #448CCB);
 background: -webkit-gradient(linear, left top, left bottom, from(#003471), to(#448CCB));
 background-position: center right;
}

div.acne_banner {
  background-image:url('acne_banner.jpg');
}

div.scar_banner {
  background-image:url('scar_removal_banner.jpg');
}

div.microderma_banner {
  background-image:url('micro_derma_banner.jpg');
}

div.peels_banner {
  background-image:url('peels_banner.jpg');
}

div.pfacial_banner {
  background-image:url('pfacial_banner.jpg');
}

div.moles_banner {
  background-image:url('moles_banner.jpg');
}

div.botox_banner {
  background-image:url('botox_banner.jpg');
}

div.facelift_banner {
  background-image:url('facelift_banner.jpg');
}

div.laser_banner {
  background-image:url('laser_banner.jpg');
}

div.body_shaping_banner {
  background-image:url('body_shaping_banner.png');
}

div.mesotherapy_banner {
  background-image:url('mesotherapy_banner.jpg');
}

div.vitiligo_banner {
  background-image:url('vitiligo_banner.jpg');
}

div.hair_reduction_banner {
  background-image:url('hair_reduction_banner.jpg');
}

div.hairfall_banner {
  background-image:url('hairfall_banner.jpg');
}

div.breast_shaping_banner {
  background-image:url('breast_shaping_banner.jpg');
}

div.nose_treatment_banner {
  background-image:url('nose_treatment_banner.jpg');
}

div.dimple_banner {
  background-image:url('dimple_banner.jpg');
}

div.genital_banner {
  background-image:url('genital_banner.jpg');
}

div.ear_banner {
  background-image:url('ear_banner.jpg');
}

div.aesthetics_banner {
  background-image:url('aesthetics_banner.jpg');
}

div.our_doctors_banner {
  background-image:url('our_doctors_banner.jpg');
}

div.schedule_banner {
  background-image:url('schedule_banner.jpg');
}

div.contact_banner {
  background-image:url('contact_banner.jpg');
}

div.testimonial_banner {
  background-image:url('testimonial_banner.jpg');
}


.hero-unit h1.insetType {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-style:normal;
  text-align: left;
  text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px, rgba(255,255,255,0.1) 0 1px, rgba(0,0,0,0.1) -1px -1px;
  opacity:0.8;
  padding-left: 50px; /* The padding is just there to move the h1 element to the center of the div */
  padding-top: 17px;
}

.hero-unit h1.inset_top {
  color: #5c5c9e;
}

.hero-unit h1.inset_bottom {
  color: rgba(0, 200, 196, 1);
}

h1.insetType {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-style:normal;
  text-align: left;
  text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px, rgba(255,255,255,0.1) 0 1px, rgba(0,0,0,0.1) -1px -1px;
  opacity:0.8;
  padding-left: 50px; /* The padding is just there to move the h1 element to the center of the div */
  padding-top: 17px;
}

h1.inset_top {
  color: #5c5c9e;
}

h1.inset_bottom {
  color: rgba(0, 200, 196, 1);
}

/* Boxes used for the Doctors Section */


.box h3{
  text-align:center;
  position:relative;
  top:0px;
  
  background-image: url('kds_logo_small.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-color: rgb(23, 190, 183);
    
    font-weight: normal;
    
    height: 29px;
    margin: 0px;
    font-size: 18px;
    width: 100%;
}
.box {
  width:100%;
  height:250px;
  background:#FFF;
  margin:40px auto;
}

 .doctor_pic {
    padding-left: 5px; /* The padding is just there to move the h1 element to the center of the div */
  padding-top: 5px;
    width: 125px;
    height: 165px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 
}

.doctor_description {
  padding-left: 15px;
  
}
#topBlock { display:table; }    
#topBlock section { vertical-align:top; display:table-cell; padding-left: 5px;}
/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.shedule_time {
    padding: 0px 0px 0px 0px;
    
    width: 100%;
    height: 140px;
    background-image: url('clock.jpg');
    background-repeat: no-repeat;
    background-position: right center;
}

.testimonial {
    margin: 0;
    background: #bbbbd7;
    padding: 10px 50px;
    position: relative;
    font-family: Georgia, serif;
    color: white;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #ECFBFF;
    background-image: linear-gradient(#8b8bbb, #bbbbd7);
}

.testimonial:before, .testimonial:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #999;
    font-style: normal;
}

.testimonial:before {
    top: 0;
    left: 10px;
}
.testimonial:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #bbbbd7;
    margin: 0 0 0 25px;
}
.testimonial-author {
    margin: 0 0 0 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    text-align:left;
}
.testimonial-author span {
    font-size: 12px;
    color: #666;
}


// Sticky Style

#sticker {
  //background: rgba(92, 92, 158, 0.95);
  background-image:url('live_chat.png');
  color: white;
  width: 208px;
  height: 304px;
  position: absolute;
  background-repeat:no-repeat;
  //font-family: Droid Sans;
  //font-size: 15px;
  //line-height: 1.4em;
  //font-weight: bold;
  //text-align: center;
  padding: 0px 5px 0px 0px;
  //text-shadow: 0 1px 1px rgba(0,0,0,.2);
  //border-radius: 50px;
  //float:left;
}

#wrapper {
  //width: 150px;
  margin:0 auto;
  //padding:10px 105px 0px 0px;
  float: left;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
  content: none;
}