<div id="dr_kiran" class="modal hide fade in large" data-backdrop="static" style="display: none;">

	<div class="modal-header">
		<h3>Dr. Kiran Dhar</h3>
	</div>
	<div class="modal-body" style="text-align: justify;">
		<p>
			<strong>Qualification</strong> - PG Degree in Dermatology
		</p>
		<p>
			<strong>Institute </strong> - College of Medicine, Wales, UK
		</p>
		<p>
			<strong>Designation</strong> - Consultant Dermatologist
		</p>

		<p>
			Dr. Kiran Dhar is an experienced  dermatologist motivated by her motto of honesty, integrity and service in medical practice. Currently,
			she is practicing in Dubai after building her reputation as a skin specialist and a cosmetic practitioner. She is respected and well known
			for her laser treatments, anti aging and skin rejuvenation programmes in the Arab Gulf.
		</p>

		<p>
			Following her Postgraduate degree in dermatology from the College of Medicine, Wales, UK, Dr. Kiran received intensive training in cutaneous
			surgery in San Diego, University college of Medicine, California, USA. She built up her expertise in laser training from prestigious
			institutions in the US and Italy. Her special interest in phototherapy took her to hospitals in UK and Germany where she received
			extensive training in various aspects of phototherapy.
		</p>

		<p>
			Dr Kiran is also a Fellow of the American Academy of Dermatology.
		</p>
		<p>
			Dr KiranDhar aspires to share her expertise and contribute her services in the promotion of dermatology in her home country, India.
		</p>

	</div>

	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" href="#">Close</a>
	</div>

</div>

<div id="dr_aditi_jha" class="modal hide fade in large" data-backdrop="static" style="display: none;">

	<div class="modal-header">
		<h3>Dr. Aditi Jha</h3>
	</div>
	<div class="modal-body" style="text-align: justify;">
		<p>
			<strong>Qualification</strong> - MBBS (AIIMS) MD (AIIMS)
		</p>
		<p>
			<strong>Designation</strong> - Consultant Dermatologist
		</p>

		<p>
			Dr. Aditi Jha is a refined dermatologist and has to her credit the management of difficult and interesting cases in Clinical 													 											Dermatology, Venereology, Dermatosurgery, Lasers and cosmetology from  the premier institute of the country (AIIMS, New Delhi).
			Her ongoing interest in academics has led her to attend and actively participate in all the conferences and meets.
			She is life member of the Indian Association of Dermatology, venereology and leprology.
		</p>

		<p>
			Her field of research is in psychosocial aspects of skin diseases and vitiligo (leucoderma). She has gained a vast experience
			in clinical dermatology, dermatosurgery, lasers, chemical peels during her residency in AIIMS. Her areas of interest includes clinical  		 											drmatovenereology, vitiligo surgery, chemical peels and lasers.
		</p>

	</div>

	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" href="#">Close</a>
	</div>

</div>


<div id="dr_chanchal" class="modal hide fade in large" data-backdrop="static" style="display: none;">

	<div class="modal-header">
		<h3>Dr. Chanchal Choudhary</h3>
	</div>
	<div class="modal-body" style="text-align: justify;">
		<p>
			<strong>Designation</strong> - Consultant Dermatologist
		</p>

		<p>
			Dr. Chanchal Choudhary is currently working as a Consultant in kirandermasurge, Max hospital, Panchsheel. She has a five years of experience in the field of Dermatology. Her areas of expertise and special interests include - Chemical peels, microdermabrasion (skin polishing), radiofrequency procedures, cryosurgery, collagen induction therapies, botox ,fillers, mesotherapy, scar treatments, vitiligo (leucoderma) surgery, nail surgery, and lasers for various indications. 
		</p>
	</div>

	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" href="#">Close</a>
	</div>

</div>




<div id="dr_naresh" class="modal hide fade in large" data-backdrop="static" style="display: none;">

	<div class="modal-header">
		<h3>Dr. Naresh Jain</h3>
	</div>
	<div class="modal-body" style="text-align: justify;">
		<p>
			<strong>Qualification</strong> - MBBS MD (PGI, Chandigarh), Ex Senior resident (AIIMS, New Delhi)
		</p>
		<p>
			<strong>Designation</strong> - Consultant Dermatologist, Dermatosurgeon & Cosmetologist
		</p>

		<p>
			Dr. Naresh Jain has a rare distinction of having five and half years ofexperience in Clinical Dermatology, Venereology, Dermatosurgery, Lasers and cosmetology from both the premier institutes of the country (PGI, Chandigarh and AIIMS, New Delhi).  
		</p>
		
		<p>Because of his interest in academics, updating his knowledge and sharpening his skills, he regularly attends all state, national and international conferences. He is life member of all the national and international Dermatology, Dermatosurgery , Cosmetology and Hair societies/associations.
		</p>

		<p>
			He is the first recipient of Cosmetic society of India (CSI) scholarship to present and attend world congress of Dermatology (WCD 2011) held in Seoul, South Korea. He recently got scholarship to attend and present a paper at International summer academy 2011 in Munich, Germany. Dr Naresh Jain has got prestigious fellowship at National Skin Centre , Singapore for 2012 in in Lasers and Cosmetology.
		</p>

		<p>
			His field of research is in atopic dermatitis and Vitiligo (leucoderma). In clinical dermatology his interest areas are pediatricdermatoses, management of resistant acne and melasma. During his stint at PGI, Chandigarh as junior resident and at AIIMS, New Delhi as senior resident he not only gained vast experience in managing difficult dermatology problems but also did a lot of work in dermatosurgery , Lasers,Microdermabrasion, Chemical peeling, Microneedling, Botox , and Fillers.
			
		</p>					
	</div>

	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" href="#">Close</a>
	</div>

</div>




<div id="dr_neha" class="modal hide fade in large" data-backdrop="static" style="display: none;">

	<div class="modal-header">
		<h3>Dr. Neha Garg</h3>
	</div>
	<div class="modal-body" style="text-align: justify;">
		<p>
			<strong>Qualification</strong> - MBBS
		</p>
		<p>
			<strong>Institute</strong> - Sardar Patel Medical College, Bikaner
		</p>
		<p>
			<strong>Designation</strong> - Cosmetologist
		</p>

		<p>
			Dr. Neha Garg is an alumini of Sardar Patel Medical college, Bikaner. She has been a Family Physician withmore than 22 years of experience. She has been actively involved in providing primary health care and promoting community health care activities.
		</p>
		
		<p>
			She is associated with various non governmental organizations that offer healthcare to the mother child. She is proficient in cosmetology and keeps on actively updating her knowledge and skills by regularly attending various cosmetology conferences and workshops. Her areas of special interest include Lasers and antiaging treatments.
		</p>
	</div>

	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" href="#">Close</a>
	</div>

</div>



<div id="dr_sheilly" class="modal hide fade in large" data-backdrop="static" style="display: none;">

	<div class="modal-header">
		<h3>Dr. Sheilly Kapoor</h3>
	</div>
	<div class="modal-body" style="text-align: justify;">
		<p>
			<strong>Qualification</strong> - MBBS, MD ( Dermatology and Venereology)
		</p>
		<p>
			<strong>Institute</strong> - Medical College, Patiala
		</p>
		<p>
			<strong>Designation</strong> - Consultant Dermatologist & Cosmetologist 
		</p>

		<p>
			Visiting Consultant at Medanta Medicity Hospital , Gurgaon.
		</p>
		<p>
			Dr. Sheilly Kapoor has contributed immenselythe field of Dermatology for the past 13 years with a special interest in Dermatosurgery and Cosmetology . She has to her credit a detailed microbiological & clinical study related to 'Nails.' Treating acne scars remains a special area of interest.
		</p>
		
		<p>
			Following her Post graduation in the field of Dermatology and Venereology from Medical College , Patiala, she has done elaborate works and has attended many national and international conferences and has presented many papers on her work .
		</p>
		<p>
			Besides teaching undergraduate and postgraduate students , she loves attending various workshops, health melasand short training programmes aimed at disseminating information to the layman and ameliorating his life.
		</p>
	</div>

	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" href="#">Close</a>
	</div>

</div>