<div id="dr_kiran" class="modal hide fade in large" data-backdrop="static" style="display: none;">

	<div class="modal-header">
		<h3>Dr. Kiran Dhar</h3>
	</div>
	<div class="modal-body" style="text-align: justify;">
		<p>
			<strong>Qualification</strong> - PG Degree in Dermatology
		</p>
		</p>
		<p>
			<strong>Institute </strong> - College of Medicine, Wales, UK
		</p>
		<p>
			<strong>Designation</strong> - Consultant Dermatologist
		</p>

		<p>
			Dr. Kiran Dhar is an experienced  dermatologist motivated by her motto of honesty, integrity and service in medical practice. Currently,
			she is practicing in Dubai after building her reputation as a skin specialist and a cosmetic practitioner. She is respected and well known
			for her laser treatments, anti aging and skin rejuvenation programmes in the Arab Gulf.
		</p>

		<p>
			Following her Postgraduate degree in dermatology from the College of Medicine, Wales, UK, Dr. Kiran received intensive training in cutaneous
			surgery in San Diego, University college of Medicine, California, USA. She built up her expertise in laser training from prestigious
			institutions in the US and Italy. Her special interest in phototherapy took her to hospitals in UK and Germany where she received
			extensive training in various aspects of phototherapy.
		</p>

		<p>
			Dr Kiran is also a Fellow of the American Academy of Dermatology.
		</p>
		<p>
			Dr KiranDhar aspires to share her expertise and contribute her services in the promotion of dermatology in her home country, India.
		</p>

	</div>

	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" href="#">Close</a>
	</div>

</div>

<div id="dr_aditi_jha" class="modal hide fade in large" data-backdrop="static" style="display: none;">

	<div class="modal-header">
		<h3>Dr. Aditi Jha</h3>
	</div>
	<div class="modal-body" style="text-align: justify;">
		<p>
			<strong>Qualification</strong> - MBBS (AIIMS) MD (AIIMS)
		</p>
		</p>
		<p>
			<strong>Designation</strong> - Consultant Dermatologist
		</p>

		<p>
			Dr. Aditi Jha is a refined dermatologist and has to her credit the management of difficult and interesting cases in Clinical 													 											Dermatology, Venereology, Dermatosurgery, Lasers and cosmetology from  the premier institute of the country (AIIMS, New Delhi).
			Her ongoing interest in academics has led her to attend and actively participate in all the conferences and meets.
			She is life member of the Indian Association of Dermatology, venereology and leprology.
		</p>

		<p>
			Her field of research is in psychosocial aspects of skin diseases and vitiligo (leucoderma). She has gained a vast experience
			in clinical dermatology, dermatosurgery, lasers, chemical peels during her residency in AIIMS. Her areas of interest includes clinical  		 											drmatovenereology, vitiligo surgery, chemical peels and lasers.
		</p>

	</div>

	<div class="modal-footer">
		<a class="btn" data-dismiss="modal" href="#">Close</a>
	</div>

</div>