<footer class="footer">
  <small>
    Made by Pranav Dhar</a>. <a href="mailto:pranav.dhar2@gmail.com">pranav.dhar2@gmail.com</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>